<h2>Linuxの基本的なコマンドを覚えよう その1</h2>



　Linuxで作業をするとなると、便利なコマンドを覚えておくと作業が効率的にはかどります。そんな便利なコマンドをいくつか紹介します。

##カレントディレクトリのパスを表示

　カレントディレクトリというのは、現在作業しているディレクトリのことです。<b>pwd</b>コマンドを使うとカレントディレクトリのパスを表示できます。

```
pwd
```
　次のようにカレントディレクトリのパスが表示されます。
```
/home/kimoto
```

##カレントディレクトリの変更

　カレントディレクトリを移動するには<b>cd</b>コマンドを使います。
```
cd ディレクトリ名
```
　ディレクトリ名は、カレントディレクトリを基準にした相対パスあるいは、完全なパスを記述する絶対パスの両方でしてすることができます。

　たとえば「/home/kimoto」というカレントディレクトリで作業している場合に、この直下にある「labo」というディレクトリに移動したい場合は次のようにします。

```
cd labo
```

　また絶対パスを指定して移動することもできます。

```
cd /home/kimoto/labo
```

###ホームディレクトリの簡略表記

　cdコマンドのテクニックをいくつか紹介します。「~」というディレクトリ名を利用するとユーザーのホームディレクトリに移動することができます。

```
cd ~
```

　もしユーザーがkimotoである場合は次の指定と同じ意味になります。

```
cd /home/kimoto
```

###ワイルドカードを使って楽に指定する

　実はcdで移動するときは、ワイルドカードを利用すれば、ディレクトリ名のすべての名前を指定する必要はありません。

```
cd la*
```

　<b>*</b>というのがワイルドカードで、「la*」という指定を行うと、もし「labo」というディレクトリがあればそこに移動できます。すべての名前をタイピングしたり、コピーアンドペーストしたりするのが、めんどうなときは便利に使えるテクニックです。

##ディレクトリに含まれるファイル一覧を表示する

　ディレクトリに含まれるファイル一覧(ディレクトリも含む)を表示するには<b>ls</b>コマンドを使用します。

```
ls
```
　次のようにファイルの一覧が表示されます。
```
README  lib script
```

###詳細を見る

　ファイルのパーミッションやファイルのサイズなどの情報を含めるには<b>l</b>オプションを使用します。

```
ls -l
```
　次のようにファイルの詳細情報をみることができます。
```
-rw-rw-r-- 1 kimoto kimoto    588  6月 16 13:19 README
drwxrwxr-x 3 kimoto kimoto   4096  6月 16 16:39 lib
drwxrwxr-x 2 kimoto kimoto   4096  6月 25 19:21 script
```

　一番左側にあるのがパーミッションの設定です。パーミッションというのは、ファイルに対するアクセス権限のことです。この連載で後ほど考え方を紹介したいと思います。

###隠しファイルも見る

　lsコマンドは、.(ドット)で始まる隠しファイルをデフォルトでは表示しません。隠しファイルを含めて表示するには、<b>a</b>オプションを使用します。

```
ls -a
```
　このようにすると隠しファイルも表示することができます。

　Linuxではオプションは複数を指定することもできます。たとえば、詳細表示と隠しファイルの表示のオプションを両方指定することができます。

```
ls -al
```

###ワイルドカードで表示するファイルを絞り込む

　ワイルドカードを利用すると表示するファイルを絞り込むことができます。

```
ls 2012*
```

　上記のように指定すると、2012で始まるファイルだけを表示させることができます。
