<h2>cpコマンド - ファイルをコピーする</h2>

cpコマンドを使用すると、ファイルをコピーすることができます。元のファイル名のファイル内容が、新しいファイル名でコピーされます。cpの名前はcopyに由来しています。

<pre>
cp 元のファイル名 新しいファイル名
</pre>

cpコマンドでファイルのコピーを行うサンプルです。foo.txtの内容が、bar.txtにコピーされます。

<pre>
cp foo.txt bar.txt
</pre>

<h3>ディレクトリをコピーする - cpコマンドの「-r」オプション</h3>

ディレクトリをコピーするには「-r」オプションを使用します。rは、recursive(再帰的)に由来しています。

<pre>
cp -r 元のディレクトリ名 新しいディレクトリ名
</pre>

ディレクトリのコピーという処理は、実際には、ファイルを再帰的にコピーするという処理なんです。

「cp -r」で、ディレクトリのコピーを行うサンプルです。dir1に含まれるすべてのファイルが、dir2にコピーされます。

<pre>
cp dir1 dir2
</pre>
