<h2>パッチ作成の一連の手順 / Git</h2>



　Gitではパッチを作成して適用するという手順がものすごく簡単なのでとても便利です。

<h3>githubでのパッチ作成の手順</h3>

<h4>プロジェクトをforkする</h4>

　最終的にパッチを適用してもらうためには、インターネット上にあなたのリポジトリを公開する必要があります。forkボタンをクリックしてパッチを適用してもらいたいプロジェクトをforkします。プロジェクトのコピーがあなたのリポジトリ上にコピーされます。

　この図では「my fork」となっていますが、これは私がすでに「mojo」をforkしているからです。もともとは「fork」になっています。

　forkした直後はどのようになっているかというと以下のようになっています。

<pre>
+------------------+        +------------------+
|開発者のリポジトリ|        |あなたのリポジトリ|
|master            |        |master            |
|branch1           |------->|                  |
|branch2           |        |                  |
|                  |        |                  |
+------------------+        +------------------+
</pre>

　forkすることによって次のことが行われるので覚えておいてください。

+リポジトリの全情報がコピーされる。
+ブランチmasterが自動的に作られる。開発者のリポジトリのmasterとあなたのリポジトリのmasterは一致している。

<h4>(2)あなたのインターネット上のリポジトリをローカルにコピーする</h4>

　次に行う作業はforkでコピーしてインターネット上に作成したあなたのリポジトリをローカルにコピーする作業です。ここからはインターネット上にあるリポジトリのことをリモートリポジトリと呼ぶことにします。あなたのパソコンの中にあるリポジトリのことをローカルリポジトリと呼ぶことにします。

　次に行う必要があるのは、あなたのリモートリポジトリをローカルにコピーすることです。リモートリポジトリをローカルにコピーするには「git clone」コマンドを使用します。

　「git clone」の引数に指定するURLは「Your Clone URL」の部分に表示されているものです。

　あなたのリモートリポジトリの内容をローカルにコピーするには、好きなディレクトリに移動してから「git clone」を実行します。

<pre>
git clone 「Your Clone URL」
</pre>

　上記のサンプルでは、

<pre>
git clone git@github.com:yuki-kimoto/mojo.git
</pre>

となります。

　これで、リポジトリは次のような状態になります。

<pre>
+------------------+        +------------------+
|開発者の          |        |あなたの          |
|リモートリポジトリ|        |リモートリポジトリ|                  ^
|master            |        |master            |                  |
|branch1           |        |                  |                  |
|branch2           |        |                  |    インターネット|
+------------------+        +------------------+                  |
                                                                  |
------------------------------------------------------------------+
                                                                  |
                            +------------------+                  |
                            |あなたの          |    ローカル      |
                            |ローカルリポジトリ|                  |
                            |master            |                  |
                            |                  |                  |
                            |                  |                  v
                            +------------------+
</pre>

<h4>リモートレポジトリに名前を付ける</h4>

　Gitではリモートレポジトリに名前をつけることが慣習になっています。リモートレポジトリに名前をつけておくとURLではなくその名前でアクセスすることができるので便利です。

　開発者のリモートレポジトリとあなたのリモートリポジトリの両方に名前をつけておきます。リモートレポジトリに名前を付けるには「git remote add」コマンドを使用します。

<pre>
<h3>あなたのリモートリポジトリ</h3>
git remote add origin 「Your Clone URL」

<h3>開発者のリモートリポジトリ</h3>
git remote add 開発者名など 「Public Clone URL」
</pre>

　自分のリモートリポジトリには「origin」という名前を付けるのが慣習になっているのでそれに従いましょう。開発者のリモートレポジトリ名は何でもかまいませんが、開発者名などを付けておくとよいかもしれません。

　これまでに解説してきたサンプルの場合は次のようになります。

<pre>
<h3>あなたのリモートリポジトリ</h3>
git remote add origin git@github.com:yuki-kimoto/mojo.git

<h3>開発者のリモートリポジトリ</h3>
git remote add kraih git://github.com/kraih/mojo.git
</pre>

　リモートリポジトリ名の一覧は「git remote」で取得できます。

<pre>
git remote
</pre>

　それぞれのリモートリポジトリの状態を参照したい場合は、

<pre>
git remote show リモートリポジトリ名
</pre>

で参照できます。

<h3>ローカルリポジトリにパッチ用のブランチを作成する</h3>

　次はパッチを作成する準備としてローカルリポジトリにパッチ用のブランチを作成します。注意して欲しいのはパッチを作成する場合はmasterに変更を加えてはいけないということです。後で解説しますが、masterは開発者のリモートリポジトリのmasterと歩調を合わせておきます。masterにあなたが手を加えてはいけません。

　ブランチ名は、パッチを表現する簡単な名前にしておくのがよいでしょう。ブランチを作成するには、「git branch」コマンドを使用します。-lオプションを使うと新しいブランチを作成することができます。

<pre>
git branch 新規ブランチ名
</pre>

とします。「patch1」というブランチを作成するには

<pre>
git branch patch1
</pre>

とします。これでmasterと同じ内容を持ったブランチpatch1を作成したことになります。現在の状況を図示しておきます。

<pre>
+------------------+        +------------------+
|開発者の          |        |あなたの          |
|リモートリポジトリ|        |リモートリポジトリ|                  ^
|master            |        |master            |                  |
|branch1           |        |                  |                  |
|branch2           |        |                  |    インターネット|
+------------------+        +------------------+                  |
      kraih                        origin                         |
                                                                  |
------------------------------------------------------------------+
                                                                  |
                            +------------------+                  |
                            |あなたの          |    ローカル      |
                            |ローカルリポジトリ|                  |
                            |master            |                  |
                            |patch1            |                  |
                            |                  |                  v
                            +------------------+
</pre>

<h3>ブランチを切り替えてソースコードに修正を加える</h3>

　現在はmasterブランチにいるのでこのままソースコードに変更を加えるとmasterに変更を加えることになります。ブランチpatch1に切り替えて作業を行います。

　ブランチを切り替えるには「git checkout」コマンドを使用します。

<pre>
git checkout ブランチ名
</pre>

　patch1に切り替えるには次のようにします。

<pre>
git checkout patch1
</pre>

　これでソースコードに修正を加える準備ができました。ソースコードに変更を加えましょう。パッチを作成するといっても行うことはソースコードに変更を加えるだけですのでぜんぜん難しくありません。

<h3>ローカルリポジトリにコミットする</h3>

　ソースコードに変更を加えた後はローカルリポジトリにコミットします。これはいつもどおりの作業です。

<pre>
git add .
git commit
</pre>

<h3>あなたのリモートリポジトリに変更を反映する</h3>

　パッチを当ててもらうにはインターネットに公開することが必要です。これもいつもどおりの手順で、リモートリポジトリにローカルリポジトリの内容を反映させましょう。patch1というブランチを反映させる必要があるので次のようにします。

<pre>
git push origin patch1
</pre>

　「git push」はローカルリポジトリの内容をリモートリポジトリに反映させるためのコマンドです。

<h4>githubの「pull request」ボタンを押す</h4>

　最後にパッチを作成したよということを開発者に伝える必要があります。githubのあなたのリポジトリのpatch1ブランチに移ってから「pull request」ボタンを押します。

　パッチを作成したブランチに移動(ここではtrial1という名前になっている)

　「pull request」でパッチを当てて欲しい旨のメッセージを送る。

　こうすれば、パッチを開発者の方に当ててもらうことができます。

<h4>開発者のリポジトリのmasterブランチをローカルのリポジトリのmasterに反映する</h4>

　パッチというのは、開発者のリポジトリの最新のmasterブランチに対して当てるようにするのがよいです。開発者のリポジトリのmasterは開発者が随時更新していきます。けれどもローカルのリポジトリのmasterは古いままです。

　このような場合は「git pull」コマンドを使用して、開発者のリモートリポジトリのmasterをローカルリポジトリのmasterに反映させます。まずブランチをmasterに切り替えます。

<pre>
git checkout master
</pre>

　この状態で開発者のリモートリポジトリに対して「git pull」を行います。

<pre>
git pull 開発者のリモートリポジトリ
</pre>

　今回の例では

<pre>
git pull kraih
</pre>

となります。そして新しくパッチを作成したい場合は、最新のmasterから新しいブランチpatch2を派生させてパッチを作成することになります。
