<h2>「Perl」はWeb上のすべての「ドキュメント」の情報が「生きている」</h2>

Perlは「後方互換性」が、すべてのスクリプト言語の中で「最高のレベル」で維持されている言語です。

「Perlは初心者にお勧めじゃない」って、書かれていることが多いんだけど、僕は、反対のことをいつも考える。

**それは、後方互換性が高いので、Web上のすべての「ドキュメント」と「ソースコード」が、コピペするだけで「動く」ということ。**

<h3>Web上の「ドキュメント」と「サンプルコード」がすべて動くメリット</h3>

初心者は、特に、書籍やWebサイトで調べた時に、そのままやっても動かないという苦しさを感じるといいます。

僕の昔働いていた現場では「書籍で買ったのに、そのままの通りに書いても動かなかった」という感想をもらいしていた、女性がいました。

この点、Perlは、参考書やWeb上のドキュメントのすべてが、今でも、そもまま実行できるので、「サンプルが動かないー、イライラ」ということが起こりません。

そのまま動かせるので、この点では、Perlは、初級者にお勧めなスクリプト言語なんですよ。
