<h2>2016年現在「Perl 5.20」が圧倒的に安定な理由</h2>

モジュールや言語自体を安定させたいという要望ならば2016年現在であれば「Perl 5.20」が圧倒的にお勧めです。（ただし、Perl 5.20系は開発元のサポートは終了しています。）

##Perl 5.22とPerl 5.24は「Coro」が壊れている

Perl 5.22とPerl 5.24は、内部的な修正があったために「Coro」というPerlでコルーチンを扱うためのモジュールが壊れた。

「ひー」となったのだけれど、これは修正されて、次の5.26のリリースでは修正される(この情報は間違い。Coroは5.26でも動かない)。

##Perl 5.26は、デフォルトのモジュールのパスから「.」が取り除かれる

Perlのコアチームは、セキュリティ上の理由で、Perl 5.26のデフォルトのモジュールパスから「.」を取り除くことを、決定した。

http://blogs.perl.org/users/todd_rinaldo/2016/11/how-removing-from-inc-is-about-to-break-cpan.html

今までと同じ動作を期待するためには「PERL_USE_UNSAFE_INC=1」を設定する必要がある。

時間がたてば、モジュールやアプリが順に対応していくけれど、1～2年くらいはかかるかな。

##というわけで安定はPerl 5.20

というわけで、冒険をしたくない、わけのわからないトラブルにできるだけ対処したくない場合は「Perl 5.20」がお勧め。

僕も、仕事ではサーバーの引っ越し作業のときに「Perl 5.20」を選択したよ。
