<h2>Perlで超簡単ファイル入出力「ダイヤモンド演算子とリダイレクトがあればopen関数なんていらないのさ」</h2>

ファイル入出力といえば、open関数を使わないと思っているあなた、Perlではもっと簡単な方法が用意されているのよ。

<h3>ダイヤモンド演算子</h3>

「ダイヤモンド演算子」を使うと、標準入力あるいは、コマンドライン引数で受け取ったファイルから読み込める

<pre>
<h3> コマンドライン引数からファイルを渡す</h3>
perl script.pl file.txt
あるいは
<h3> 標準入力からファイルを渡す</h3>
cat file.txt > perl script.pl
</pre>

そして、スクリプトの方はこんな感じ。

<pre>
<h3> ダイヤモンド演算子を使って行読み込み</h3>
while (my $line = <>) {
  chomp $line;
  print "$line add some thing\n";
}
</pre>

open関数を使って、読み込み用にファイルオープンしなくってもいいんよね。

<h3>リダイレクトでファイルへ出力</h3>

リダイレクトというLinuxやWindowsに標準で備わっている機能を使えば、print関数の出力を、ファイルにリダイレクトできる。

リダイレクトっていうのは、たとえば、画面のへの出力を、ファイルへの出力に切り替える機能だ。

先ほどのコマンドにちょっとつけたそう。「>」という記号を。

<pre>
<h3> コマンドライン引数からファイルを渡す</h3>
perl script.pl file.txt > output.txt
あるいは
<h3> 標準入力からファイルを渡す</h3>
cat file.txt > perl script.pl > output.txt
</pre>

これで、ファイルに出力できるんだね。

open関数を使わなくっても、ファイル入出力できるって、知ってた?
