<h2>git statusの出力をショートフォーマットにする</h2>

<a href="https://github.com/yuki-kimoto/gitprep">GitPrep</a>の開発の知見で得られたものを共有します。

git statusで確認する場合に、何も変更がないことをプログラミングから知りたい場合があるとします。

このときに、普通のgit statusであれば、変更がない場合も、メッセージが表示されてしまいます。

git statusのショートフォーマットオプションを使用すれば、変更がない時は、何も出力されず、変更があるときだけ、出力できます。

<pre>
git status -s
git status --short
</pre>

変更がない場合は出力されない。

追加や変更がある場合は以下のように出力される。

<pre>
M aaahhh.md
?? ppp.md
</pre>

これを利用すると変更があるかないか、プログラム側から出力があるかどうかだけを確認するだけでいいので楽で安定的です。

<a href="https://github.com/yuki-kimoto/gitprep">GitPrep</a>のソースコードでWikiの内容に変更がないということを確認するために、利用しています。
