<h2>CentOSでのApacheの設定ファイル httpd.confの場所</h2>

　<strong>httpd.conf</strong>は、WebサーバーであるApacheの設定ファイルの名前です。どこにあるかわからないという場合もあるので、探し方を紹介します。

<h3>Unix、Linuxの場合</h3>

　Apacheの設定ファイルであるhttp.confの場所はサービス起動スクリプトに記載されています。
　サービス起動スクリプトは

<pre>
/etc/init.d
</pre>

というディレクトリに存在し

<pre>
httpd
</pre>

というのがApacheのサービス起動スクリプトです。このファイルの中をmoreなどのコマンドで覗けば設定ファイルの場所がわかります。

<pre>
more /etc/init.d/httpd
</pre>

　次のような感じで記載されています。

<pre>
<h3> config: /etc/httpd/conf/httpd.conf</h3>
</pre>
　
　また単純にhttpd.confをfindコマンドで探してもよいでしょう。

<pre>
find / -name httpd.conf
</pre>

<h3>Windowsの場合</h3>

　Windowsの場合は次のファイルになります。(Apache2.2の場合の例です)

<pre>
C:\Program Files\Apache Software Foundation\Apache2.2\conf\httpd.conf
</pre>
