<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Linux</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop="name">Linuxコマンド</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2>touchコマンド - ファイルを新規作成する</h2>

touchコマンドを使用すると、ファイルを新規作成することができます。

<pre>
touch ファイル名
</pre>

touchコマンドでfoo.txtという名前のファイルを作成してみましょう。

<pre>
touch foo.txt
</pre>

<a href="/blog/20191126082723.html">lsコマンド</a>でfoo.txtというファイルが作成されていることを確認してみましょう。

確認できたら成功です。

<h3>ヘルプを表示する --helpオプション</h3>

ヘルプを表示するには「--help」オプションを使用します。

<pre>
touch --help
</pre>

ヘルプが表示されます。

<pre>
sage: touch [OPTION]... FILE...
Update the access and modification times of each FILE to the current time.

Mandatory arguments to long options are mandatory for short options too.
  -a                     change only the access time
  -c, --no-create        do not create any files
  -d, --date=STRING      parse STRING and use it instead of current time
  -f                     (ignored)
  -m                     change only the modification time
  -r, --reference=FILE   use this file's times instead of current time
  -t STAMP               use [[CC]YY]MMDDhhmm[.ss] instead of current time
  --time=WORD            change the specified time:
                           WORD is access, atime, or use: equivalent to -a
                           WORD is modify or mtime: equivalent to -m
      --help     display this help and exit
      --version  output version information and exit
</pre>


