<h2>digを使ってDNSサーバーの設定が正しいかを確認する / CentOS</h2>

(CentOS5.7で確認)

　DNSサーバーの設定を行ったときに、設定が正しいかどうかを確認したい場合があります。digというコマンドを使います。

```
dig ドメイン名
```

　以下のように使います。

```
dig perlcodesample.com
```

　ドメインの設定はゾーンファイルと呼ばれるものに記述されていますが、各レコードの設定を知ることができます。

```
; <<>> DiG 9.3.6-P1-RedHat-9.3.6-4.P1.el5_4.2 <<>> perlcodesample.com
;; global options:  printcmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 33098
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 2, ADDITIONAL: 0

;; QUESTION SECTION:
;perlcodesample.com.            IN      A

;; ANSWER SECTION:
perlcodesample.com.     3600    IN      A       59.106.185.196

;; AUTHORITY SECTION:
perlcodesample.com.     3600    IN      NS      ns1.dns.ne.jp.
perlcodesample.com.     3600    IN      NS      ns2.dns.ne.jp.

;; Query time: 72 msec
;; SERVER: 192.168.5.2#53(192.168.5.2)
;; WHEN: Tue Jan  8 11:23:09 2013
;; MSG SIZE  rcvd: 97
```

　<b>ANSWER SECTION</b>を見ると、<b>perlcodesample.com</b>というドメインが、<b>59.106.185.196</b>というIPアドレスを指していることがわかります。

　<b>AUTHORITY SECTION</b>を見ると、どのDNSサーバーに対して問い合わせているかを確認することができます。<b>ns1.dns.ne.jp</b>と<b>ns2.dns.ne.jp</b>になっています。
