<h2>chkconfig - サービスの自動起動の設定 / CentOS</h2>




(CentOS5.7で確認)

　<strong>chkconfig</strong>コマンドは、サービス管理のためのコマンドです。サービスの自動起動の設定を行うことができます。サービスとは、バックグラウンドで起動するアプリケーションのことです。HTTPサーバやデータベースサーバなどがあります。OSの起動後に自動的に起動したいサービスはchkconfigを使えば設定できます。

<h3>サービスの追加、削除、一覧</h3>
　サービスに追加、削除、一覧は以下のコマンドで行います。

<pre>
<h3> サービスの一覧に追加する。</h3>
chkconfig --add サービス名

<h3> サービスの一覧から削除する。</h3>
chkconfig --del サービス名

<h3> サービスの状態の一覧を見る</h3>
chkconfig --list

<h3> あるサービスについての状態を見る</h3>
chkconfig --list サービス名
</pre>

<h3>サービスの自動起動の設定</h3>
　サービスの自動起動の設定はランレベルごとに設定します。ランレベルというのは、Linuxの概念で、カーネルがどのような状態であるかを表す用語です。0～6までのランレベルがあります。
<pre>
<h3> ランレベルの一覧</h3>
0 : シャットダウンに向かう状態
1 : シングルユーザモード
2 : 使用されない
3 : 標準的な状態
4 : 使用されない
5 : GUIでログインする状態
6 : 再起動に向かう状態
</pre>
　一般的に自動起動を設定する必要があるのは、3と5です。3の標準的な状態と5のGUIの場合に、サービスの自動起動をonにしておけばよいです。

<h3>サービスの自動起動の設定</h3>
　サービスの自動起動の設定は --level オプションで行います
<pre>
<h3> ランレベルを指定した自動起動の設定</h3>
chkconfig --leve ランレベル サービス名 onかoff
</pre>

　httpdのランレベル3と5で自動起動を行う設定です。
<pre>
<h3> onにする場合</h3>
chkconfig --level 35 httpd on

<h3> offにする場合</h3>
chkconfig --level 35 httpd off
</pre>
