<h2>C言語の開発環境のインストール</h2>



　C言語のソースコードを実行するには、コンパイラと呼ばれるツールが必要になります。この開発環境をインストールするのは、現在ではとても簡単になっています。

##Linuxの場合

　Linuxの場合は、gcc,makeと呼ばれるツールが、すでに入っていると思います。次のコマンドを実行して、インストールされていることを確認してみてください。

```
# gccのバージョン確認
gcc -v
```

```
# makeのバージョン確認
make
```

##Windowsの場合

　Windowsの場合は、実行環境がインストールされていませんが、ActivePerlを使っている場合であれば、cpanコマンドを実行したときにMinGWという開発環境が、自動でインストールされます。Strawvery Perlを利用しているときは、最初から開発環境がインストールされていると思います。

　ActivePerlを使っている場合は次のコマンドを実行してみて、MinGWをインストールしてみてください。

```
cpan
```

　インストールが終われば「gcc」と「dmake」というコマンドが実行できるようになっていることを確認してみてください。

```
# gccのバージョン確認
gcc -v
```

```
# makeのバージョン確認
dmake -V
```

##gccはコンパイルを行うツール

　gccとは、C言語のソースファイルをコンパイルして、実行できるプログラムにするツールだと覚えておいてください。

##makeはコンパイルを自動化するツール

　Linuxではmakeというコマンド、Windowsではdmakeという名前になっていますが、これからの解説では、makeとだけ書きますので、Windowsの場合はdmakeに置き換えて読んでください。

　makeとは、コンパイルを自動化するためのツールです。C言語のソースファイルを書いているとたくさんのファイルをコンパイルする必要があります。さらに、実行ファイルにするためには、コンパイルされた複数のファイルを結びつけるリンクという作業をする必要があります。

　これらの作業を自動化してくれるツールがmakeです。

　これでC言語をコンパイルして、実行できる環境が整いました。
