<h2>cdコマンド - カレントディレクトリの変更</h2>

cdコマンドを使うと、カレントディレクトリを変更することができます。

<pre>
cd ディレクトリ名
</pre>

<h4>ディレクトリ名を相対パスで指定</h4>

cdコマンドで、「labo」というディレクトリにカレントディレクトリを変更するには次のコマンドを実行します。

<pre>
cd labo
</pre>

これは、現在のカレントディレクトリを起点として、カレントディレクトリの現在の階層にある「labo」ディレクトリを、カレントディレクトリとするという意味です。

これを、ディレクトリ名を相対パスで指定するといいます。

<h4>ファイル名を絶対パスで指定</h4>

cdコマンドでディレクトリ名を絶対パスで指定することもできます。

「/usr/local/lib」というディレクトリに移動するには以下のコマンドを実行します。

<pre>
cd /usr/local/lib
</pre>

絶対パスは先頭が「/」で始まることが特徴です。cdコマンドは、先頭の「/」を見て、相対パスか絶対パスかを識別します。

<h3>カレントディレクトとは?</h3>

カレントディレクトリというのは、現在作業中のディレクトリのことです。Linuxでいうディレクトリというのは、Windowsのフォルダと同じ意味だと考えてください。


Linuxにログインしたときは、ホームディレクトリと呼ばれる場所が、カレントディレクトリとなります。

<pre>
/home/kimoto
</pre>

カレントディレクトリを表示するにはpwdコマンドが使えます。

<pre>
pwd
</pre>

今いるディレクトリってどこだっけなとなったときは、pwdコマンドで確認できます。

<h3>特殊なディレクトリ名</h3>

特殊なディレクトリ名として、次のディレクトリ名を覚えておきましょう。

<h4>現在のカレントディレクトリ - .</h4>

「.」は、現在のカレントディレクトリを指す特殊なディレクトリ名です。

<pre>
cd .
</pre>

これは、カレントディレクトリを現在のカレントディレクトリに変更するだけなので、何も起こりません。

でも、意味を覚えておいてください。cdコマンドでは特に意味がありませんが、意味を持つ場面があります。

<h4>親ディレクトリ - ..</h4>

「..」は、親ディレクトリを指す特殊なディレクトリ名です。

カレントディレクトリを変更して、一階層上の親ディレクトリに戻りたい場合に、頻繁に利用します。

<pre>
cd ..
</pre>

<h4>ホームディレクトリ - ~</h4>

「~」は、ホームディレクトリを指す特殊なディレクトリ名です。

<pre>
cd ~
</pre>

ユーザーが「kimoto」の場合は、ホームディレクトリは以下のように展開されます。

<pre>
cd /home/kimoto
</pre>

特殊なディレクトリ「.」「..」「~」については、実際は、cdコマンドが解釈しているわけではなく、シェルが解釈しているのですが、cdコマンドで使用する頻度が高いので、紹介しました。

<h3>cdコマンドのサンプル</h3>

ホームディレクトリにカレントディレクトリを変更して、そこにlaboディレクトリを作成して、laboディレクトリにカレントディレクトリを変更するサンプルです。

<pre>
# ホームディレクトリにカレントディレクトリを変更
cd ~

# laboディレクトリを作成
mkdir labo

# laboにカレントディレクトリを変更
cd labo

# pwdコマンドで現在のカレントディレクトリをチェック
pwd
</pre>

Perlゼミの環境では、以下のように表示されました。

<pre>
/home/kimoto/labo
</pre>
