<h2>viエディタを使ってみる</h2>



　Windowsを使っていて初めてLinuxを使ったときに困るのは、文書の編集をどうやってしたらいいんだろうってことだと思います。LinuxではWebサーバーの設定やデータベースサーバーの設定を、設定ファイルを編集して行うことが普通です。

　なのでさくらVPSでサーバー管理を行うための最初の一歩としてはテキストファイルを編集する方法を覚える必要があります。

　でもコマンドラインの画面からどうやってテキストファイルを編集するのかなぁと疑問に思うかもしれませんが、コマンドラインで編集が可能なテキストエディタがLinuxにはあります。標準で仕える<b>vi</b>というエディタがあります。

<pre>
Linuxではテキストファイルを編集するのにviというエディタを使う
</pre>

　正直に延べるとviというエディタは、初めて使う人にとっては非常に使いにくいエディタです。Windowsのグラフィカルなエディタに慣れた人にとっては、Linuxを使いこなすための最初の難関となると思います。マウスが使えないので、すべての操作をキーボードで行う必要があるし、編集のモードという概念もあります。でもがんばる。

<h3>テキストファイルの作成</h3>

　テキストファイルを作成するには次のようにします。

<pre>
vi テキストファイル名
</pre>

　viの引数にファイル名を渡すと、テキストが存在しない場合は新規に作成してくれます。foo.txtというファイルを作ってみましょう。

<pre>
vi foo.txt
</pre>

　viが立ち上がると思います。

<h3>テキストファイルの終了</h3>

　ここで初心者が困るのは、viエディタを終了する方法をわからないということだと思うので、これだけは一瞬で覚えてしまいましょう。以下の手順になります。

<pre>
まずEscを押す。
</pre>

　Escを押すことでviは<b>コマンドモード</b>というモードに変更することができます。テキストエディタを終了するためには、まず<b>Esc</b>を押して、コマンドモードにする必要があります。

<pre>
:q
</pre>

　<b>:q</b>と入力してEnterを押してください。viが終了します。qというエディタを終了させるコマンドを実行しています。コロンはコマンドの前に必要になります。

　またもう一つの保存しないで強制終了するためのコマンドも覚えておきましょう。viエディタでは、エディタの内容に変更がある場合は、<b>q</b>コマンドでは終了することができません。

　保存しないで強制終了するには<b>q!</b>コマンドを使います。Escを押してコマンドモードに変更してから以下のように入力してEnterを押します。

<pre>
:q!
</pre>

　もうひとつ保存して終了も覚えておきましょう。<b>wq</b>とします。

<pre>
:wq
</pre>

　この三つの終了方法を覚えておけば、間違ってviを起動してしまっても、何とか大丈夫でしょう。

<pre>
qで終了
q!で保存しないで終了
wqで保存して終了
</pre>

　では次回はviでテキストを編集する方法を紹介したいと思います。
