<h2>作業ツリーとインデックスの差分を確認する / Git</h2>




　作業ツリーとインデックスの差分を確認するにはdiffコマンドを使用します。

```
git diff
```

　このコマンドはどのタイミングで使用するかといえば、作業ツリーでの変更を終えて、「git add」で作業ツリーの変更をインデックスに反映させる前です。インデックスはGit特有の概念で、仮想的な領域への一時的なコミットと考えればよいでしょう。

```
git commit
```

を実行することで実際にリポジトリに反映されます。

　「git diff」は作業コピーとリポジトリの最新のコミットと比較するわけではないことに注意してください。「git diff」は作業コピーとインデッキすを比較します。

```
+------------------+
|                  |
|ローカルリポジトリ|
|の最新のコミット  |  
|                  |
+------------------+
         |
+------------------+
|                  |
|インデックス      |  <--------+
|                  |           |
+------------------+           |
         |                     |------- 「git diff」は作業ツリーとインデックスの
+------------------+           |        差分を表示します。
|                  |           |
|作業ツリー        |  <--------+
|                  |
+------------------+
```
