<h2>bash</h2>

　<strong>bash</strong>に関する情報はこちらに記載します。

<h3>bashの設定ファイル</h3>

　bashの設定ファイルはホームディレクトリの.bashrcと.bash_profileです。viコマンドで設定ファイルを編集することができます。

<pre>
<h3> .bashrcを編集する場合</h3>
vi ~/.bashrc

<h3> .bash_profileを編集する場合</h3>
vi ~/.bash_profile
</pre>

　.bashrcと.bash_profileの違いは.bashrcがbashを起動したときに読み込まれるのに対して、.bash_profileはログイン時に読み込まれることです。

　.bashrcでは環境変数の設定などが行われることが多いようです。bashをカスタマイズしたい場合(エイリアスなどを記述など)は.bashrcに記述することが多いようです。

<h4>bashの設定ファイルの記述</h4>

　bashの設定ファイルにはあらかじめ実行しておきたいコマンドを記述しておくだけです。たとえば.bashrcに次のような記述を追加しておくとbashが起動されるたびにそのコマンドが実行されます。

<pre>
alias ls="ls -l"
</pre>

<h4>設定ファイルの読込</h4>

　設定ファイルは次回bashを起動したときに読み込まれますがすぐに設定を反映したい場合はsourceコマンドを使用します。

<pre>
<h3> .bashrcを書き換えた場合</h3>
source .bashrc

<h3> .bash_profileを書き換えた場合</h3>
source .bash_profile
</pre>

<h3>エイリアス</h3>

　bashには複雑なコマンドを簡単なコマンドとして登録しておくエイリアスという機能があります。
たとえばlsというコマンドを打つときに毎回「ls -l」と-lコマンドをつけるような人はlsコマンドを

<pre>
alias ls="ls -l"
</pre>

という風に「ls」を「ls -l」のエイリアスとして登録しておくと便利です。

<h4>エイリアスの削除</h4>

　エイリアスを削除するにはunaliasを使用します。

<pre>
unalias ls
</pre>

<h4>エイリアスをbashの設定ファイルに登録する</h4>

　エイリアスをbashを起動したときに登録するには.bashrcにエイリアスを記述しておきます。

<h4>引数を指定する</h4>

　bashではエイリアスに引数を指定することができません。引数を使用するには関数を使用します。

<h3>エイリアスの代替としての関数</h3>

　bashでaliasを定義すると難しいコマンドを簡単なコマンドに置き換えることができます。ですがひとつ問題があります。それはエイリアスで作成したコマンドには引数を渡すことができないということです。

　これを解決するために関数を使用します。bashでは関数を定義することができるのでこれを利用します。

　では「cd」コマンドを実行すると同時にファイル一覧を表示してくれるような関数を作成してみます。

<pre>
cd () {
    command cd $1
    ls -l
}
</pre>

　「command」は、Linuxのデフォルトのコマンドである「cd」を呼ぶためのものです。これがないと自分自身を呼び出してしまい無限にループしてしまいます。

　$1で第1引数を受け取ることができます。第2引数は$2、第3引数は$3のようになります。複数の引数を受け取りたい場合は$@で受け取ることもできます。

　すると「cd」コマンドでカレントディレクトリを変更してファイル一覧を表示することができるようになります。

<h3>標準入力に渡す内容をシェルの中で記述する</h3>

(CentOS5.7で確認)

　シェルスクリプト(bash)の中で、複数行のテキストを入力して、それをコマンドを標準入力に渡したいという場合があると思います。

　次のように書けば、標準入力に複数行のテキストを渡すことができます。

<pre>
コマンド <<EOF
内容1
内容2
EOF
</pre>

<h4>ftpコマンドでのサンプル</h4>

　たとえばftpコマンドでは<b>-n</b>オプションを利用すれば、コマンドを記述してそれを、標準入力に渡すことができます。

<pre>
ftp -n 192.168.1.250 <<EOF
user kimoto ijfie
cd /dir
get file
bye
EOF
</pre>
