<h2>【Perl】【初級】重複のない集合をどうやって表現するのか</h2>

![WIN_20170121_23_24_05_Pro.jpg](https://qiita-image-store.s3.amazonaws.com/0/155418/a158ae6a-97bd-4ea0-917a-abf158d69910.jpeg)

重複のない集合というのは「セット」と呼ばれたりしますけど、データ構造としては、どうやって表現するのいいんでしょうかね?

ちょっと難しい?

# 配列は、重複管理してくれない

たとえば配列でやろうとすると、追加するときに、重複をチェックしてくれませんよね。

3という数があったとして、3を新しく追加したら、そのまま追加されちゃう。これは配列は不適格

```
# ひとつめ
push @nums, 3;

# あっ、重複しちゃった。
push @nums, 3;
```

# 連想配列は、連想配列だ

連想配列はどうだろうか。連想配列は、名前の通り連想配列だね。キーと値のペアが複数あるデータ構造だ

```
my %student = (
  name => '木本',
  age => 37,
  address => '東京都'
);
```

重複のない集合っていう感じはしないね。

# 答えは「連想配列を工夫して使う」

答えは「連想配列を工夫して使う」だ。<b>連想配列のキーの部分は重複がない。</b>

```
my %no_duplication = (
  1 => 1,
  5 => 1,
  7 => 1
);

# 新しいデータを追加、キーは変わらない
$no_duplication{5} = 1;
```

そして、keys関数を使うと、重複のない集合を取り出せる。

```
# 1, 5, 7が取り出せた!
my @keys = keys %no_duplications;
```

やったね、これはすごく使用頻度の高いテクニックだから、覚えておいて損はない!

<hr>

この記事は、2017年1月21日にPerlプログラマー「木本裕紀」が書きました。
