<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Linux</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop="name">Linuxコマンド</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2>mkdirコマンド - ディレクトリを作成する</h2>

mkdirコマンドを使用するとディレクトリを作成することができます。mkdirは「make directory」が由来です。

<pre>
mkdir ディレクトリ名
</pre>

mkdirコマンドを使って、fooディレクトリを作成するサンプルです。

<pre>
mkdir foo
</pre>

<h3>複数階層のディレクトリを作成する - 「mkdir」の「-p」オプション</h3>

複数階層のディレクトリを一度に作成するには、 「mkdir」の「-p」オプションを使用します。

<pre>
mkdir -p foo/bar
</pre>

「foo/bar」というディレクトリが作成されます。「foo」ディレクトリが存在しない場合は、自動的に「foo」ディレクトリが作成されます。

<h3>ヘルプを表示する --helpオプション</h3>

ヘルプを表示するには「--help」オプションを使用します。

<pre>
mkdir --help
</pre>

ヘルプが表示されます。

<pre>
Usage: mkdir [OPTION] DIRECTORY...
Create the DIRECTORY(ies), if they do not already exist.

Mandatory arguments to long options are mandatory for short options too.
  -m, --mode=MODE   set permission mode (as in chmod), not rwxrwxrwx - umask
  -p, --parents     no error if existing, make parent directories as needed
  -v, --verbose     print a message for each created directory
  -Z, --context=CONTEXT (SELinux) set security context to CONTEXT
      --help     display this help and exit
      --version  output version information and exit
</pre>

<h3>mkdirの動画解説</h3>

<ul>
  <li><a href="https://www.youtube.com/watch?v=KCxKRajYEfY">mkdirコマンド - Linux - Perlプログラミングちゃんねる</a></li>
</ul>
