<h2>viエディタでテキストを編集しよう</h2>

ではviエディタを使ってテキストを編集してみましょう。今回は必要最低限必要なことを書きますね。

前回と同じようにまず最初にviエディタを起動してみましょう。

<pre>
vi foo.txt
</pre>

起動しましたね。

**編集モード
viエディタは最初は、コマンドモードで起動します。viではコマンドモードと編集モードという二つのモードがあります。最初はコマンドモードになっているので、編集モードにする必要があります。

編集モードにするためには、<b>i</b>を押します。

<pre>
i
</pre>

すると文字を入力できる<b>編集モード</b>に切り替わります。iを押した後は、自由に編集できることがわかると思います。

編集した内容を保存したいときは、コマンドモードになってから<b>w</b>コマンドを使います。コマンドモードになるにはまずEscキーを押すのでした。

<pre>
:w
</pre>

上記のように入力してEnterを押すとテキストが保存できます。編集するときはまたiを押して、編集モードに切り替えます。

保存して終了したいときは、前回学んだように以下のようにします。

<pre>
:wq
</pre>

これでなんとか設定ファイルを編集できるようになりましたね。便利なコマンドについては、のちのち覚えてもよいし、すぐに覚えてもよいと思います。

では次回は補講として、viの便利なコマンドを紹介したいと思います。
