<h2>SSHの概要</h2>



　さて、Linuxの基本コマンドや基礎的な事柄を解説したので、次のステップはLinuxの上で動くアプリケーションをインストールして環境を構築する作業に移っていきます。

　たとえば、WebサーバーであるApacheや、データベースサーバーであるMySQLなどをWeb上からインストールして、Webアプリケーションを実行できる環境を構築していくことになります。

##SSHを使ってサーバーと通信する

　まず最初に行うことは、SSHというプロトコルを使ってサーバーと通信することです。さくらVPSを使っているときに、今まではブラウザ上から実行できるリモートコンソールを使って作業していました。けれどもこれは、使いやすいといえるものではありません。これを使っていては作業効率がとても落ちます。

　ですので、Linux上でコマンドをもっと便利に、効率的に実行するために、SSHという通信プロトコルを使います。

```
SSHサーバー
    |
SSHクライアント
```

　SSHによる通信では、通信経路上で、データが暗号化されます。データはインターネット上を通りますが、他の第三者に見られることなく、クライアントとサーバー間でデータをやり取りすることができます。また秘密鍵と公開鍵を使った通信を行うことで、通信ができるコンピュータを制限することができます。つまり、鍵を保有しているパソコンのみから作業を許可するということができるようになります。

　今回の連載では、Windows上でSSHクライアントとして利用できるTeratermというアプリケーションを使ってみたいと思います。他のOSでも便利なSSHクライアントがあると思うので、探して使ってみてください。

　SSHサーバーとしてはOpenSSHというLinux上で実行できるアプリケーションを利用します。

　今後は環境構築を行うために、コマンドを実行する場合は、SSHクライアントを起動して作業することになります。ブラウザを開いて、リモートコンソールを開く必要がないので、とても作業が楽になります。

　実際のアプリケーションのインストールについては、次回にしたいと思います。
