<h2>カレントディレクトリとは</h2>

カレントディレクトリとは、現在作業を行っているディレクトリのことです。カレントは英語で「current」で「現在の」という意味です。Linuxにおけるディレクトリは、Windowsにおけるフォルダに該当します。

<h3>カレントディレクトリの変更</h3>

カレントディレクトリを変更するには<a href="/blog/20191012191854.html">cdコマンド</a>を使用します。

<pre>
cd /home/kimoto/labo
</pre>

「/home/kimoto/labo」というディレクトリが、カレントディレクトリになります。

<h3>カレントディレクトリからの相対パス指定</h3>

カレントディレクトリが設定されている効果として、ファイル名が、カレントディレクトリから<a href="/blog/20191216082522.html">相対パス</a>で指定できます。

lsコマンドで「foo」というファイルを相対パスで指定してみましょう。

<pre>
ls foo
</pre>

これは実際には以下のような<a href="/blog/20191217081903.html">絶対パス</a>で指定したのと同じ意味になります。

<pre>
ls /home/kimoto/labo/foo
</pre>
