<h2>Webフレームワーク「Mojolicious」で「サブプロセス」という機能が追加されたよ</h2>

Perlの「たった3行でWebアプリが書けるWebフレームワーク」の「Mojolicious」で「サブプロセスという機能が追加されたよ。

##非同期I/Oの問題点

「Mojolicious」は、知られているように「非同期I/O」をデフォルトで実装されています。大量の接続があっても「簡単にスケール」させることができるし、「プリフォーク」も合わせて実装されているから「複数CPU」を利用するのも簡単。

ただ、非同期I/Oっていうのは、その、刺ささっちゃうんだよね。刺さるっていうのは、長い処理があった場合に、そこで、止まっちゃうということ。

非同期I/Oは、短い大量の処理をさばくのにはもってこいだけど、途中で長い処理が入っちゃう場合って、きついのよね。

##サブプロセスって何?

サブプロセスというのは、簡単にいうと新しくプロセスを立ち上げて、そちらに処理を渡すことができる機能です。

ドキュメントにはこう書かれているよ。

>Mojo::IOLoop::Subprocess allows Mojo::IOLoop to perform computationally expensive operations in subprocesses, without blocking the event loop.

[訳]Mojo::IOLoop::Subprocessは、サブプロセスによって処理的に高価なオペレーションを実行させることができます。イベントループをブロックすることなしに。

## まとめ

つまり、刺さるような長い処理は、サブプロセスに渡すことで、そっちで処理できるよってこと。






