<h2>Linuxの基本的なコマンドを覚えよう その3</h2>


　さてもう少し必要なコマンドを覚えていきましょうね。今回で終わるかなぁ。

##ファイルの削除 rm

　ファイルを削除するには<b>rm</b>を使用します。

```
rm ファイル名
```

　ファイルの削除の確認なしに削除するには<b>f</b>オプションが利用できます。」

```
rm -f ファイル名
```

　rmは注意して使ってください。rmコマンドで、ファイルを削除するときは、非常に神経質になってください。大切なファイルを削除すると元に戻すことができません。安易な気持ちで打たないほうがよく、3回くらいは確認して、ドキドキしながらやったほうがいいと思います。

##ディレクトりの作成 mkdir

　ディレクトリを作成するには<b>mkdir</b>を使用します。

```
mkdir dir1
```

###複数階層のディレクトリの作成

　複数階層のディレクトリを一度に作成するのに<b>p</b>オプションを使うことができます。
```
mkdir -p dir1/dir2
```

##ディレクトリの削除 rmdir

　ディレクトリを削除するには<b>rmdir</b>を使用します。

```
rmdir ディレクトリ名
```
　ディレクトリが空のときだけrmdirは成功します。

　ディレクトリの中身も含めて、削除するにはrmコマンドの<b>r</b>オプションを使用します。

```
rm -r ディレクトリ名
```
　削除するかの問い合わせをなしに削除するには<b>f</b>オプションを組み合わせて使います。

```
rm -rf ディレクトリ名
```

　これも非常に慎重に行ってください。ディレクトリの中身が丸ごときえることになるので、システム管理者にとっては、覚悟して打つ必要のあるコマンドです。

##システムをシャットダウンする shutdown

　システムをシャットダウンするには<b>shutdown</b>を使います。

```
shutdown -h now
```

　<b>-h</b>オプションはシステムをシャットダウンするためのオプションです。<b>now</b>を指定すると、すぐにシャットダウンが始まります。

##システムを再起動する reboot

　システムを再起動するには<b>reboot</b>コマンドを使用します。

```
reboot
```

##日付を表示する

　日付を表示するには<b>data</b>コマンドを使用します。

```
date
```

　1秒ごとに時刻を表示したい場合は次のように書くことができます。

```
while true
do
date
sleep 1
done
```

　ctrl + c で止めることができます。sleepは、何もしないで指定された秒数だけ待つコマンドです。whileはシェルの構文で繰り返しを記述することができます。

##ファイルを圧縮する gzip

　圧縮というのは、ファイルのサイズを小さくするための操作のことです。圧縮を行うにはgzipコマンドを使用します。

```
gzip ファイル名
```

　圧縮されたファイルの末尾には<b>.gz</b>という拡張子がつきます。

　たとえばdevelopment.logを圧縮すればdevelopment.log.gzになります。

##圧縮されたファイルを解凍する gunzip

　圧縮されたファイルを元に戻すには<b>gunzip</b>を使用します。

```
gunzip アッシュされたファイル
```

##ディレクトリをアーカイブ化する tar

　アーカイブ化というのは、ディレクトリに含まれる複数のファイルをひとつのファイルに固めることです。tarコマンドを使用します。

```
tar fc アーカイブ名 ディレクトリ名 
```

　<b>f</b>は対象がディレクトリの場合に使用する必要があります。<b>c</b>はアーカイブ化するときに指定する必要があります。アーカイブ名は普通は「ディレクト名.tar」を指定します。

　以下はサンプルです。

```
tar cf dir1.tar dir1
```

　gzipによる圧縮も一度にできます。その場合はzオプションを指定します。

```
tar cfz dir1.tar.gz dir1
```

###アーカイブを展開する

　アーカイブを展開するには<b>x</b>オプションを使用します。

```
tar xf アーカイブ名
```

　以下ははサンプルです。

```
tar xf dir1.tar
```

　アーカイブ化された後にgzipで圧縮されているファイルは<b>z</b>オプションを同時に指定することで、ディレクトリの状態まで展開することができます。

```
tar xfz dir1.tar.gz
```
