<h2>初めてのHello World (2) - main関数</h2>

　では続きを見ていきましょう。前回のコードです。今回はmain関数の中身について解説します。

```c:
#include <stdio.h>

// エントリポイント
int main (void) {
  
  // Hello World!を出力
  printf("Hello World!\n");
  
  // 正常に終了したことを知らせる
  return 0;
}
```

##main関数

　C言語ではプログラムにmain関数を書く必要があります。

```c:
int main (void) {
  
  // ...
  
  return 0;
}
```

　Perlにはmain関数のようなものはなく、いきなり実行文を書くことができますが、C言語では<b>main関数</b>がエントリポイントになります。

###intはmain関数の戻り値の型

　<b>int</b>はmain関数の戻り値の型です。型については、今後にお話します。なぜintかという理由は、どうやらCの標準規格でintを返すことになっているみたいです。

　<b>return</b>を使って<b>0</b>を返します。0は一般的に正常終了を意味します。

###コメント

　C言語の<b>コメント</b>は「//」です。

```c:
// Hello World!を出力
```

###Hello Worldの出力

　「Hello World」と文字列を出力するためには、<b>printf</b>関数を使用します。

```c:
printf("Hello World!\n");
```

　printf関数は、文字列を受け取って、標準出力に出力する関数です。
