<h2>GitでSSHを使って通信する場合のURL</h2>



　<strong>Git</strong>で<strong>SSH</strong>を使って通信する場合の<strong>URL</strong>の指定のサンプル。

```
ssh://manager@192.168.1.201:12345/rep/myproject.git
```

　フォーマットは次のとおり。

```
ユーザー名@アドレス:ディレクトリのパス
```

　いつくかのサンプル。

```
git clone ssh://manager@192.168.1.201:12345/rep/myproject.git
git push ssh://manager@192.168.1.201:12345/rep/myproject.git
```

　pushの操作などは「git remote add」コマンドで登録してから行うのが普通。

```
git remote add origin ssh://manager@192.168.1.201:12345/rep/myproject.git
git push origin master
```
