<h2>「Carton」だけでは、Perlのモジュール管理はしんどい? 「cpanm」を組み合わせるのがよいか?</h2>

僕は、職場ではcpanmを使って、モジュール管理しているので、Cartonは使ったことがないのだけれど、こないだの「吉祥寺.pm」というイベントでは、CPAN以外のモジュールを、業務で使っていた場合になかなか難しいという話を聞いた。

##CartonはCPANモジュールだけに閉じていればうまくいく

ちょっと間違ってたら指摘してほしいですが、感覚で語ると、CartonはCPANモジュールだけに、閉じているのであれば、うまくいくと思う。

反対に、CPAN以外に依存しているのであれば、うまくいかないような気がする。CPAN以外というのは、たとえば、社内で開発しているモジュールがあって、それが、gitで管理されていたりする場合。

##cpanmはインストール先にURLを指定できる

Cartonは、cpanmを下敷きにしているモジュールだけれど、モジュール管理の方針がちょっと違う。

Cartonは、今ある環境のモジュールのスナップショットをとって、それをデプロイ先で復元するという方針だ。

cpanmでは、cpanfileというファイルにモジュールのバージョンを直接、手で書く。ここには、CPANモジュールしか書けないのだけれど、コマンドラインであれば、gitのURLを指定できる。

だから、cpanfileとは別個に、シェルの中に書いておけば、必要なモジュールをデプロイ先に配置できる。

##まとめ:cpanmとシェルでモジュール管理するのが簡単と僕は感じる

Carton単体で、CPANモジュール以外のモジュールも含めて、解決できる手法があれば、Cartonがいいのじゃないかと思う。(もしあれば)

なければ「cpanmとcpanfile」、それに加えて、シェルの中で、cpanmでgitのURLを書く。こういう管理が楽じゃなかろうか。
