<h2>tarコマンド - ファイルのアーカイブ化</h2>



　<strong>tar</strong>コマンドを使用すると、ディレクトリとそれ以下のファイルをひとつのファイルにまとめることができます。まとめたファイルをコピーしたりしても、内部の更新日時などの情報が維持されます。アーカイブ化するには、cf オプションを使用します。(カレントディレクトリに、projectというディレクトリがあるとします。)

<pre>
tar cf project.tar project
</pre>

　cはcreateという意味でアーカイブを作成するという意味です。fはファイルという意味で、ファイルやディレクトリが対象の場合に指定します。第一引数はアーカイブしたあとのファイル名です。project.tarのようにします。第二引数は、対象のディレクトリです。アーカイブは日本語で書庫と呼ばれたりします。

<h3>展開する</h3>

　アーカイブ化したものを展開するには、xf オプションを使用します。xはextractという意味で抽出という意味です。

<pre>
tar xf project.tar
</pre>

<h3>アーカイブ化と圧縮の違い</h3>

　tarはアーカイブ化のためのコマンドで、圧縮のコマンド( gzipなど)とはことなります。アーカイブ化とは、複数のファイルをひとつのファイルにまとめることをいいます。圧縮とは、ひとつのファイルのバイト数を圧縮アルゴリズムを使って小さくすることをいいます。
