<h2>CentOS5にLLVMとclangをインストールする | CentOS</h2>


　<strong>LLVM</strong>と<strong>clang</strong>はpapixさんの手順(http://hachiojipm.github.io/entry/2013-10-14-codegenerator-llvm.html)で<strong>インストール</strong>できるのですが、<strong>CentOS5</strong>では、前提としていくつか追加の手順が必要になります。CentOS6だと、pythonは2.6,gccは4.4なので、たぶん大丈夫だと思います。

<h3>llvmのインストールにはpython2.5以上が必要</h3>

　LLVMはインストールのときにpython2.5以上が必要です。epelというリポジトリを利用して、python 2.6をインストールしましょう。

　まずはCentOSのアーキテクチャの確認です。

<pre>
uname -a
</pre>

　x86_64が含まれていれば64bit版のCentOSです。i386が含まれていれば32bit版のCentOSです。

　64bit版のCentOSの場合は以下のコマンドでepelというRPMリポジトリを追加します。

<pre>
rpm -Uvh http://dl.fedoraproject.org/pub/epel/5/x86_64/epel-release-5-4.noarch.rpm
</pre>

　32bit版のCentOSの場合は以下のコマンドでepelというRPMリポジトリを追加します。
<pre>
rpm -Uvh http://dl.fedoraproject.org/pub/epel/5/i386/epel-release-5-4.noarch.rpm
</pre>

　パッケージが自動的に更新されない設定を行っておきます。下記のファイルを編集します。

<pre>
vi /etc/yum.repos.d/epel.repo
</pre>

　[epel]のセクションのenabledの値を0に設定しておきます

<pre>
[epel]
...
enabled=0
</pre>

　python26パッケージをインストールします。

<pre>
yum -y install python26 --enablerepo=epel
</pre>

　python26がインストールされたかを確認します。

<pre>
python26 -V
</pre>

　バージョンなどが表示されればインストールに成功しています。

<h3>LLVMのインストールにはgcc 4.2以上が必要</h3>

　次にLLVMのインストールにはgcc 4.2以上が必要です。

　gcc 4.4をインストールします。

<pre>
yum -y install gcc44
</pre>

　インストールされたかを確認します。

<pre>
gcc44 -v
</pre>

　C++をコンパイルするためのg++ 4.4もインストールします。

<pre>
yum -y install gcc44-c++
</pre>

　インストールされたかを確認します。

<pre>
g++44 -v
</pre>

<h3>LLVMとclangのインストール</h3>

　ここからやっとLLVMとclangをインストールします。

　以下の三つのファイルをダウンロードします。

<pre>
cd /usr/local/src
wget http://llvm.org/releases/3.3/cfe-3.3.src.tar.gz
wget http://llvm.org/releases/3.3/compiler-rt-3.3.src.tar.gz
wget http://llvm.org/releases/3.3/llvm-3.3.src.tar.gz
</pre>

　展開します。

<pre>
tar -xf cfe-3.3.src.tar.gz
tar -xf llvm-3.3.src.tar.gz
tar -xf compiler-rt-3.3.src.tar.gz
</pre>

　llvm-3.3.srcのの中の適切な位置に、cfe-3.3.srcとcompiler-rt-3.3.srcをコピーします。

<pre>
cp -rp cfe-3.3.src llvm-3.3.src/tools/clang
cp -rp compiler-rt-3.3.src llvm-3.3.src/projects/compiler-rt
</pre>

　llvm-3.3.srcディレクトリに移動して、設定を行います. configureを実行するときにgccとしてgcc44を、g++としてg++44を、pythonとしてpython26を使うようにします。

<pre>
cd llvm-3.3.src
CC=gcc44 CXX=g++44 ./configure --with-python=/usr/bin/python26
</pre>

　コンパイルします。1～2時間くらいはかかると思います。

<pre>
make
</pre>

　インストールします。

<pre>
make install
</pre>

　LLVMがインストールされたかどうかを確認します。

<pre>
llvm-config --version
</pre>

　バージョンが出力されればインストールが完了しています。
