<h2>Linux基礎知識1</h2>



　ここまでコマンドを紹介してきましたけれど、少しLinux自体について説明しておきます。さくらのVPSでデフォルトで選択されているOSはCentOSといういうものです。CentOSというのはLinuxのディストリビューションのひとつです。

　ディストリビューションというのは、ユーザーが使いやすいようにLinuxの上に機能を追加して配布できるようにしたものだと考えればよいです。

```
CentOS | Ubuntu
--------------------
  Linuカーネル
```
　LinuxカーネルというのはLinuxのコアの部分のことで、その上に機能を追加したLinuxディストリビューションがあります。CentOSやUbuntuといったLinuxディストリビューションがあります。

##ファイルの所有者

　次のようにlsでファイルを詳細表示してみましょう。

```
ls -l
```
　すると次のように表示されます。

```
-rw-rw-r-- 1 kimoto project    588  6月 16 13:19 README
drwxrwxr-x 3 kimoto project   4096  6月 16 16:39 lib
```

　<b>kimoto</b>というのはファイルの所有者を表しています。つまりREADMEというファイルは、ユーザーkimotoによって所有されていると考えます。

　<b>project</b>というのはファイルを所有しているグループを表しています。つまりREADMEというファイルは、グループprojectによって所有されていると考えます。特にグループに属していない場合は、グループ名はユーザー名と同じになります。次のような表示になります。

```
-rw-rw-r-- 1 kimoto kimoto    588  6月 16 13:19 README
```

##ユーザーの追加

　ここでもう一度ユーザーの追加の方法について解説しておきます。ユーザーを追加するにはroot権限を持っている必要があります。ですのでrootで作業しましょう。

```
su -
```

　ユーザーを追加するには<b>useradd</b>コマンドを使用します。

```
useradd ken
```

　ユーザーを追加したらパスワードも設定します。<b>passwd</b>コマンドを使用します。

```
passwd ken
```

　パスワードの入力と確認のための再入力を求められるので設定します。

　ユーザーの一覧は<b>/etc/passwd</b>ファイルを見ることで確認できます。

```
cat /etc/passwd
```

##グループの作成

　グループも自由な名前で作成することができます。グループを作成するには<b>groupadd</b>を使用します。

```
groupadd someproject
```

　ユーザーはグループに所属させることができます。kenをsomeprojectグループに追加するには次のようにします。

　作成されているグループは設定ファイル<b>/etc/group</b>で確認することができます。

```
cat /etc/group
```

　ユーザーをグループに所有させて見ましょう。<b>usermod</b>を使います。<b>G</b>オプションでユーザーをグループに追加することができます。

```
usermod -G someproject ken
```
　これでユーザーkenがグループsomeprojectに所属します。

　ユーザーは複数のグループに所属できますし、グループには複数のユーザーを所属させることができます。
