<h2>「Mojolicious::Lite」から「Mojolicious」へ成長させるプロセス その1「テンプレートの外だし」</h2>

Mojolicious::Liteで書いたコードは、簡単にMojoliciousにアップグレードできる。その手順を、少しづつ書いていこう。

Mojolicious::Liteは簡単だけれど、少し大きくなると、非常に見通しが悪くなる。そんなときは、見通しのよいMojoliciousに、段階的にチェンジ!

```
use Mojolicious::Lite;

get '/' => sub {
  my $self = shift;
  $self->render('/index');
};
get '/foo' => sub {
  my $self = shift;
  $self->render('/foo');
};
app->start;

__DATA__

@@ index.html
Index

@@ foo.html
Foo
```

### テンプレートの外だし

上記のMojolicious::Liteのテンプレートは、埋め込みのテンプレートになっているが、これを、templatesディレクトリに外だししてくれるコマンドがある

```
./myapp.pl inflate
```

このコマンドを実行すると、__DATA__セクションのテンプレートがすべて、templatesディレクトリ以下に、出力される。

そして、Mojolicious::Liteにある__DATA__セクションは消してしまおう。

```
use Mojolicious::Lite;

get '/' => sub {
  my $self = shift;
  $self->render('/index');
};
get '/foo' => sub {
  my $self = shift;
  $self->render('/foo');
};
app->start;

```

まずはこれが第一段階。
