<h2>インデックスと最新のコミットの差分を確認する / Git</h2>



　インデックスと最新のコミットの差分を確認するにはdiffコマンドを使用してオプションに--cachedを指定します。

```
git diff --cached
```

　このコマンドはどのタイミングで使用するかといえば、「git add」で作業ツリーの変更をインデックスに反映させて

```
git commit
```

を実行する前です。インデックスはかつてはキャッシュと呼ばれていたそうです。--cachedというオプションは「インデックス」を表しているようです。

```
+------------------+
|                  |
|ローカルリポジトリ|
|の最新のコミット  | <------+
|                  |        |
+------------------+        |
         |                  |---「git diff --cached」はインデックスと
+------------------+        |    リポジトリの最新のコミットの差分を表示します。
|                  |        |
|インデックス      | <------+ 
|                  |  
+------------------+  
         |            
+------------------+  
|                  |  
|作業ツリー        |  
|                  |
+------------------+
```
