<h2>【JavaScript】静的コンテンツと動的コンテンツを共有する 改善版</h2>

昨日書いた記事

[静的コンポーネントとJavaScriptの動的コンポーネントを共有する方法](http://qiita.com/yukikimoto/items/1c8a4316b286b4ee2a03)

の改善版ができたので公開。CGIだから少しもっさりしているが、サーバーで起動すれば大丈夫なはず。

[デモ 20170503.cgi](http://perlcodesample.sakura.ne.jp/examples/20170503.cgi)

改善点は、フォームで渡すPOSTパラメーターのような感覚で、実行できるところ。まるでreactのような書き方だけど、jQueryとJSON.parseを使っているだけ。

```
% $components->{'url-bar'} = begin
  <div>
    <button data-param='{"component":"url-bar", "url":"<%= $http_url %>"}'>HTTP</button>
    <button data-param='{"component":"url-bar", "url":"<%= $https_url %>"}'>HTTPS</button>
    <%= text_field 'url' => param('url') // $http_url %>
  </div>
% end
```
コンポーネント全体を書き換ながら、静的なコンテンツと動的なコンテンツを共有できる。

## ソースコード

```
#!/usr/bin/env perl
use FindBin;
use lib "$FindBin::Bin/extlib/lib/perl5";

use Mojolicious::Lite;
any '/' => sub { shift->render_maybe('index') };
app->start;

__DATA__

@@ index.html.ep
<%
  my $components = {};
  my $http_url = 'http://some.com';
  my $https_url = 'https://some.com';
%>

% $components->{'url-bar'} = begin
  <div>
    <button data-param='{"component":"url-bar", "url":"<%= $http_url %>"}'>HTTP</button>
    <button data-param='{"component":"url-bar", "url":"<%= $https_url %>"}'>HTTPS</button>
    <%= text_field 'url' => param('url') // $http_url %>
  </div>
% end

<%
  # コンポーネントの描画処理
  if ($self->req->method eq 'POST') {
    my $component_name = param('component') // '';
    my $component = $components->{$component_name};
    
    if ($component) {
      my $html = $component->();
      
      $self->render(json => {html => $html});
      return;
    }
    else {
      $self->reply->not_found;
      return;
    }
  }
%>

<html>
  <head>
    <meta charset="UTF-8">
    <title>静的コンポーネントとJSの動的コンポーネントを共有する方法</title>
    <%= javascript '/mojo/jquery/jquery.js' %>
  </head>
  <body>
    %= javascript begin
      $(document).ready(function () {
        $('#url-bar').on('click', 'button', function () {
          var param_json = $(this).attr('data-param');
          var param = JSON.parse(param_json);
          
          $.post('<%= url_for %>', param, function (result) {
            $('#' + param['component']).html(result['html']);
          });
        });
      });
    % end
    
    <h1>静的コンポーネントとJSの動的コンポーネントを共有する方法</h1>
    
    <div id="url-bar">
      %= $components->{'url-bar'}->();
    </div>
  </body>
</html>
```


