<h2>tarコマンド - ファイルのアーカイブ化と展開</h2>

<strong>tar</strong>コマンドを使用すると、ディレクトリとそれ以下のファイルをひとつのファイルにまとめることができます。まとめたファイルをコピーしたりしても、内部の更新日時などの情報が維持されます。

<h3>tarファイルにアーカイブ化する</h2>

ディレクトリ以下の内容をtarファイルに、アーカイブ化するには、tarコマンドの「cf」オプションを使用します。(カレントディレクトリに、projectというディレクトリがあるとします。)

<pre>
tar cf project.tar project
</pre>

　cはcreateという意味でアーカイブを作成するという意味です。fはファイルという意味で、ファイルやディレクトリが対象の場合に指定します。第一引数はアーカイブしたあとのファイル名です。project.tarのようにします。第二引数は、対象のディレクトリです。アーカイブは日本語で書庫と呼ばれたりします。

<h3>tarファイルを展開する</h3>

　アーカイブ化したものを展開するには、xf オプションを使用します。xはextractという意味で抽出という意味です。

<pre>
tar xf project.tar
</pre>

<h3>アーカイブ化と圧縮の違い</h3>

　tarはアーカイブ化のためのコマンドで、圧縮のコマンド( gzipなど)とはことなります。アーカイブ化とは、複数のファイルをひとつのファイルにまとめることをいいます。圧縮とは、ひとつのファイルのバイト数を圧縮アルゴリズムを使って小さくすることをいいます。

<h3>gzipの圧縮・解凍と同時に行う「z」オプション</h3>

一般的にファイルは「tar.gz」で、固められていることが多いです。これは、tarでファイルをアーカイブ化した後に、gzipを使って、圧縮されているファイルです。

<pre>
foo.tar.gz
</pre>

これを一度に解凍・展開するには「z」オプションを追加することで行えます。

<pre>
tar xfz project.tar.gz
</pre>

また、アーカイブ化と圧縮を同時に行うことも、zオプションを追加することで行えます。

<pre>
tar cfz project.tar.gz project
</pre>

「xfz」というオプションと「cfz」というオプションは非常によく使うので、覚えておきましょう。

<h3>アーカイブ化や展開の処理内容を表示する「v」オプション</h3>

「v」オプションを一緒に使用すると、アーカイブ化や展開の処理内容が出力されます。

<pre>
tar xfzv project.tar.gz
</pre>

どんな処理が行われたがわかるので、理解しやすいです。
