<h2>gitでマージする前に、タグをつけておくとすぐに戻せて、大失敗が回避できる</h2>

今僕は<a href="https://github.com/yuki-kimoto/static-perl">static-perl</a>という、Perl上で動く静的な型を持つVMを持った言語バーチャルマシンを作成しています。

オープンソースで開発していて、他の開発者の方からpull requestを受け取っているのだけれど、pull requestをマージする前に必ずやっていることがある。

<h3>マージする前にタグをつけておく</h3>

いまmasterブランチにいたとして「foo」という他の開発者が作ってくれたブランチをマージする。

<pre>
git merge foo
</pre>

でも、マージって、思ってもみないものだったりするときに、戻すのが結構めんどうなんだよね。「あー、戻すのどうすんだっけなぁ。失敗したなぁ。」

でも、そういう場合に備えて、**タグを先につけておくとすぐに戻せるよ**。

<pre>
git tag 20170107
</pre>

マージする前にタグをつけておく。するとマージに失敗しても、

<pre>
git reset --hard 201701017
</pre>

とすると、あら不思議、元通り!

<h3>追記「ORIG_HEADでも戻れるという情報をいただきました」</h3>

タグを使わなくても、git reset --hard ORIG_HEADでいいはずです。ORIG_HEADはgit mergeのときに作成されるシンボリック参照で、この記事で言っているタグと同様のコミットを指します。
