<h2>ディレクトリとは</h2>

ディレクトリとは、ひとつ下の階層のファイル名の一覧が内容として書かれている特別な<a href="/blog/20191223081048.html">ファイル</a>のことです。

特別な場合として、<a href="/blog/20191218072611.html">カレントディレクトリ</a>「.」と<a href="/blog/20191219082642.html">ペアレントディレクトリ</a>「..」も、ディレクトリにファイル名の一覧として書かれています。

パーミッション、所有者ユーザー、所有者グループ、ファイルサイズ、更新日時などのファイルに関連する情報は、inodeと呼ばれる仕組みで管理されています。

ディレクトリには、ファイル名に対応するinode番号が書き込まれているので、それらの情報を取得することもできます。

<h3>ディレクトリに書かれているファイル名の一覧</h3>

<a href="/blog/20191126082723.html">lsコマンド</a>を使うと、ディレクトリに書かれているファイル一覧を取得できます。

ここでファイル一覧という言葉には、通常のファイルとディレクトリが含まれていることに注意してください。

<pre>
ls
</pre>

lsコマンドの出力結果のサンプルです。foo.txtとbar.pngは、通常ファイルです。testはディレクトリです。

<pre>
foo.txt
test
bar.png
</pre>

「-a」オプションを使うことで、<a href="/blog/20191220091958.html">隠しファイル</a>を含めたすべてのファイルを表示できます。

<pre>
ls -a
</pre>

<pre>
.
..
.bashrc
foo.txt
test
bar.png
</pre>

<h3>ファイル情報を含めた詳細な情報を表示する</h3>

lsコマンドの「-a」オプションを使うと、ファイル情報を含めた詳細な情報を表示することができます。

<pre>
ls -a
</pre>

「ls -a」の出力結果のサンプルです。

<pre>
-rw-rw-r--  1 kimoto kimoto         0 Dec 25 08:41 test.pl
drwxrwxr-x 41 kimoto kimoto      4096 Dec 20 16:53 labo
drwxr-xr-x  2 kimoto kimoto      4096 Apr  5  2019 lib
</pre>
