<h2>サービス起動スクリプト / CentOS</h2>



(CentOS5.7で確認)

　<strong>サービス起動スクリプト</strong>とは、サービスを開始するときやサービスを停止するときに利用されるシェルスクリプトです。サービス起動スクリプトの中を見れば、サービス名やコンフィグファイルの位置などの情報を見ることができます。

　新しいサービス(Webサーバやデータベースサーバ、SSHサーバなど)をインストールした場合は、サービス起動スクリプトの中をのぞけば、関連するファイルがどこにあるのかを知ることができます。

<h3>サービス起動スクリプトのあるディレクトリ</h3>
　サービス起動スクリプトは以下のディレクトリに格納されます。この中にあるファイルをのぞけば、さまざまなことがわかります。

<pre>
/etc/init.d
</pre>

　このディレクトリにあるファイルはたとえば、以下のようになっており、chkconfigでサービスを登録したりserviceコマンドでサービスを開始・停止する場合のサービス名になります。

<pre>
auditd        halt       mdmonitor   network      rsyslog         vncserver
avahi-daemon  ip6tables  messagebus  ntpd         setroubleshoot  xfs
firstboot     iptables   netconsole  ntpdate      smolt           xinetd
functions     killall    netfs       rdisc        sshd
haldaemon     mcstrans   netplugd    restorecond  udev-post
</pre>

<h3>サービス起動スクリプトの内容</h3>
　たとえばsshdのサービス起動スクリプトの内容を見てみるとどのランレベルで自動起動すればよいのか、コンフィグファイルはどこにあるかなどという情報を見ることができます。
<pre>
view /etc/init.d/sshd
</pre>

<pre>
<h3>!/bin/bash</h3>
#
<h3> Init file for OpenSSH server daemon</h3>
#
<h3> chkconfig: 2345 55 25</h3>
<h3> description: OpenSSH server daemon</h3>
#
<h3> processname: sshd</h3>
<h3> config: /etc/ssh/ssh_host_key</h3>
<h3> config: /etc/ssh/ssh_host_key.pub</h3>
<h3> config: /etc/ssh/ssh_random_seed</h3>
<h3> config: /etc/ssh/sshd_config</h3>
<h3> pidfile: /var/run/sshd.pid</h3>
</pre>

　chkconfig の直後の2345というのが、chkconfigコマンドで自動起動の設定が推奨されるランレベルです。configとなっている部分がこのアプリケーションの設定ファイルの格納場所です。

　sshdのサービス起動スクリプトに限らず他のスクリプトも同じようになっています。設定ファイルの位置を忘れたら、サービス起動スクリプトを見ればわかるということを覚えておくととても便利です。
