<h2>初めてのHello World (3) - コンパイルと実行</h2>

　今回は、前回書いたコードをコンパイルして、実行してみます。このソースコードを「hello.c」という名前で保存してください。

<pre>
<h3>include <stdio.h></h3>

// エントリポイント
int main () {
  
  // Hello World!を出力
  printf("Hello World!");
  
  // 正常に終了したことを知らせる
  return 0;
}
</pre>

<h3>ソースファイルのコンパイル</h3>

　Perlでは、作成したスクリプトは「perl」コマンドで直接実行することができました。C言語では、<b>コンパイル</b>という作業が必要になります。

　コンパイルとは、ソースコードを、機械語で書かれたオブジェクトファイルと呼ばれるファイルに変換する作業のことです。最終的に、オブジェクトファイルは、実行ファイルに変更されますが、一段階目の作業として、コンパイルを行う必要があります。

<pre>
　　　　　　(コンパイル)
ソースファイル　→　オブジェクトファイル
</pre>

　コンパイルを行うには「gcc」というコマンドの<b>「-c」</b>オプションを使用します。

<pre>
gcc -c hello.c
</pre>

　すると「hello.o」というオブジェクトファイルが作成されます。

<pre>
hello.o
</pre>

<h3>実行ファイルの作成</h3>

　今はひとつのソースコードから、ひとつのオブジェクトファイルを作成しましたが、規模が大きくなって、複数のソースコードから、複数のオブジェクトファイルが作成されたと想像してみてください。

<pre>
code1.o
code2.o
</pre>

　実行ファイルはこれらのオブジェクトファイルを結びつけることによって作成されます。この作業を<b>リンク</b>と呼びます。

<pre>
code1.o　+　code2.o →　code(実行ファイル)
</pre>

　リンクを行って実行ファイルを作成するに「gcc」の「-o」コマンドを使用します。

<pre>
gcc -o 生成される実行ファイル名 オブジェクトファイル1 オブジェクトファイル2
</pre>

　今回はオブジェクトファイルがひとつですので、次のようにします。

<pre>
gcc -o hello hello.o
</pre>

　次のように実行ファイルが作成されます。Linuxにおいては「hello」という名前、Windowsにおいては「hello.exe」という名前になります。

<pre>
<h3> Linux</h3>
hello

<h3> Windows</h3>
hello.exe
</pre>

<h3>実行ファイルを実行する</h3>

　では実行ファイルを実行してみましょう。Linuxでは、カレントディレクトリにある実行ファイルは、「./hello」のように「./」を前につけて実行する必要があります。Windowsでは「hello」あるいは「hello.exe」で実行できます。

<pre>
<h3> Linux</h3>
./hello

<h3> Windows</h3>
hello
hello.exe
</pre>

　これで、コンパイルして、プログラムを実行できるようになりました。
