<h2>【Perl】【初級】重複のない集合をどうやって表現するのか</h2>

!<a href="https://qiita-image-store.s3.amazonaws.com/0/155418/a158ae6a-97bd-4ea0-917a-abf158d69910.jpeg">WIN_20170121_23_24_05_Pro.jpg</a>

重複のない集合というのは「セット」と呼ばれたりしますけど、データ構造としては、どうやって表現するのいいんでしょうかね?

ちょっと難しい?

<h3> 配列は、重複管理してくれない</h3>

たとえば配列でやろうとすると、追加するときに、重複をチェックしてくれませんよね。

3という数があったとして、3を新しく追加したら、そのまま追加されちゃう。これは配列は不適格

<pre>
<h3> ひとつめ</h3>
push @nums, 3;

<h3> あっ、重複しちゃった。</h3>
push @nums, 3;
</pre>

<h3> 連想配列は、連想配列だ</h3>

連想配列はどうだろうか。連想配列は、名前の通り連想配列だね。キーと値のペアが複数あるデータ構造だ

<pre>
my %student = (
  name => '木本',
  age => 37,
  address => '東京都'
);
</pre>

重複のない集合っていう感じはしないね。

<h3> 答えは「連想配列を工夫して使う」</h3>

答えは「連想配列を工夫して使う」だ。<b>連想配列のキーの部分は重複がない。</b>

<pre>
my %no_duplication = (
  1 => 1,
  5 => 1,
  7 => 1
);

<h3> 新しいデータを追加、キーは変わらない</h3>
$no_duplication{5} = 1;
</pre>

そして、keys関数を使うと、重複のない集合を取り出せる。

<pre>
<h3> 1, 5, 7が取り出せた!</h3>
my @keys = keys %no_duplications;
</pre>

やったね、これはすごく使用頻度の高いテクニックだから、覚えておいて損はない!

<hr>

この記事は、2017年1月21日にPerlプログラマー「木本裕紀」が書きました。
