<h2>Vimの基本コマンド</h2>

<h3>Vimの設定ファイル</h3>

　Vimの設定ファイルはホームディレクトリの

>|perl|
.vimrc
<pre>

　ない場合は新規に作成する。

<h3>Vimコマンド( キーボード )</h3>

<h4> 移動系コマンド</h4>

|h  	|← |
|j 	|↓ |
|k 	|↑ |
|l 	|→ |
|b 	|次の単語の先頭に移動 |
|w 	|前の単語の先頭に移動 |
|^      |行の先頭へ移動|
|$      |行の末尾へ移動|
|G 	|最終行に移動 |
|nG 	|n 行目に移動 |

<h4> スクロール系コマンド</h4>

| Ctrl + f | 1ページ前へスクロール|
| Ctrl + u | 半ページ前へスクロール|
| Ctrl + b | 1ページ後へスクロール|
| Ctrl + d | 半ページ後へスクロール|

<h4> 「元に戻す」と「やり直す」コマンド</h4>

|u|元に戻す|
|Ctrl + r|やり直す|

<h4> 削除</h4>

|x |    一文字削除|
|dd|    一行削除|
|d0|  	カーソル位置から行頭までを削除|
|d$| 	カーソル位置から行末までを削除|

<h4>コピー＆ペースト</h4>

+開始位置でmaでマークをつける( aという識別子でマークをつけると読む )
+終了位置でy'a とする。( aというマークの位置から現在位置までをコピーと読む )
+ペースト位置で p と入力する。( 貼り付けと読む )

<h3>Vimコマンド( コロンを押してから : ) </h3>

<h4>保存と終了</h4>
</pre>
<h3> 保存</h3>
:w

<h3> 保存して終了</h3>
:wq

<h3> 強制終了</h3>
:q!
<pre>

<h4>行番号表示。</h4>
</pre>
:set number
<pre>

<h4>perlを実行</h4>

</pre>
!perl スクリプト名
<pre>
