<h2>デバイスの一覧を調べる / CentOS</h2>



(CentOS 5.7で確認)

　デバイスというのはコンピューターに接続されている物理的な機械という意味です。ハードディスクやメモリ、フロッピーディスクドライブ、CD/DVDドライブなどはデバイスです。

　デバイスの一覧は次のようにして確認することができます。

```
ls /dev
```

　<b>/dev</b>というディレクトリを見れば、接続されているデバイスの一覧を表示することができます。

##ハードディスクドライブがどれかを調べる

　上記のコマンドを実行すると、たくさんのデバイスが表示されますが、どれがハードディスクなのかはちょっとわかりにくいですね。もうすでに、ディスク上にファイルシステムが構築されている場合は、<b>df</b>コマンドで、どのハードディスク上に、ファイルシステムが構築されているのかを確認できます。

```
df
```
　コマンドを実行すると以下のように表示されます。

```
Filesystem           1K-ブロック    使用   使用可 使用% マウント位置
/dev/hda2             18222732   6882392  10399736  40% /
/dev/hda1               101086     30135     65732  32% /boot
tmpfs                   513048    163768    349280  32% /dev/shm
```

　hda1というデバイス上に/bootがマウントされていて、/dev/hda2というデバイス上に、/がマウントされているのがわかります。

```
/boot
------
  hda


  /
------
  hdb
```

　きっと疑問に思うかもしれないのは、「/dev/dha」ってファイルシステムとしての表記じゃないのかってことですね。それは正解で、Linuxではデバイスもひとつのファイルシステムとして見れるようになっています。でもちょっとややこしいですね。
