<h2>初めてのHello World (2) - main関数</h2>

　では続きを見ていきましょう。前回のコードです。今回はmain関数の中身について解説します。

<pre>
<h3>include <stdio.h></h3>

// エントリポイント
int main (void) {
  
  // Hello World!を出力
  printf("Hello World!\n");
  
  // 正常に終了したことを知らせる
  return 0;
}
</pre>

<h3>main関数</h3>

　C言語ではプログラムにmain関数を書く必要があります。

<pre>
int main (void) {
  
  // ...
  
  return 0;
}
</pre>

　Perlにはmain関数のようなものはなく、いきなり実行文を書くことができますが、C言語では<b>main関数</b>がエントリポイントになります。

<h4>intはmain関数の戻り値の型</h4>

　<b>int</b>はmain関数の戻り値の型です。型については、今後にお話します。なぜintかという理由は、どうやらCの標準規格でintを返すことになっているみたいです。

　<b>return</b>を使って<b>0</b>を返します。0は一般的に正常終了を意味します。

<h4>コメント</h4>

　C言語の<b>コメント</b>は「//」です。

<pre>
// Hello World!を出力
</pre>

<h4>Hello Worldの出力</h4>

　「Hello World」と文字列を出力するためには、<b>printf</b>関数を使用します。

<pre>
printf("Hello World!\n");
</pre>

　printf関数は、文字列を受け取って、標準出力に出力する関数です。
