<h2>Vimの基本コマンド</h2>

##Vimの設定ファイル

　Vimの設定ファイルはホームディレクトリの

>|perl|
.vimrc
```

　ない場合は新規に作成する。

##Vimコマンド( キーボード )

### 移動系コマンド

|h  	|← |
|j 	|↓ |
|k 	|↑ |
|l 	|→ |
|b 	|次の単語の先頭に移動 |
|w 	|前の単語の先頭に移動 |
|^      |行の先頭へ移動|
|$      |行の末尾へ移動|
|G 	|最終行に移動 |
|nG 	|n 行目に移動 |

### スクロール系コマンド

| Ctrl + f | 1ページ前へスクロール|
| Ctrl + u | 半ページ前へスクロール|
| Ctrl + b | 1ページ後へスクロール|
| Ctrl + d | 半ページ後へスクロール|

### 「元に戻す」と「やり直す」コマンド

|u|元に戻す|
|Ctrl + r|やり直す|

### 削除

|x |    一文字削除|
|dd|    一行削除|
|d0|  	カーソル位置から行頭までを削除|
|d$| 	カーソル位置から行末までを削除|

###コピー＆ペースト

+開始位置でmaでマークをつける( aという識別子でマークをつけると読む )
+終了位置でy'a とする。( aというマークの位置から現在位置までをコピーと読む )
+ペースト位置で p と入力する。( 貼り付けと読む )

##Vimコマンド( コロンを押してから : ) 

###保存と終了
```
# 保存
:w

# 保存して終了
:wq

# 強制終了
:q!
```

###行番号表示。
```
:set number
```

###perlを実行

```
!perl スクリプト名
```
