<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Linux</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop="name">Linuxコマンド</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2>chmodコマンド - パーミッションの変更</h2>

<b>chmodコマンド</b>を使うと、<a href="/blog/20200526082545.html">パーミッション</a>を変更できます。

<pre>
chmod パーミッションの表現 ファイル名
</pre>

パーミッションの表現には8進数と「+x」のような差分でパーミッションを追加できるものがあります。

パーミッションを変更するサンプルです。

<pre>
# 8進数で指定
chmod 644 foo.txt
chmod 755 dir1

# 実行権限を追加
chmod +x myapp
</pre>

<h3>再帰的にパーミッションを変更する</h3>

再帰的にパーミッションを変更するには「-R」オプションがあります。

「-R」がありますが、ディレクトリ・通常ファイル・実行ファイルに設定したいパーミッションは、異なるので一括で変更すると、大変なことになります。

また、特定の拡張子に対してだけ、実行権限をつけたいという場合もあります。

このような場合は、<a href="/blog/20200317121556.html">find</a>コマンド・<a href="/blog/20200602093211.html">grep</a>コマンド・xargsコマンドを組み合わせて、対象のファイルだけに絞り込んでパーミッションを変更しましょう。

たとえばカレントディレクトリ以下にある「.pl」ファイルだけに実行権限をつけるという場合は以下のようにします。

<pre>
find * | grep -P '\.pl$' | xargs chmod +x
</pre>
