<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Linux</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop="name">Linuxコマンド</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>sshコマンド - SSHサーバーへ接続する</h2>

sshコマンドを使うと、SSHプロトココルを使って、SSHサーバーに接続して、コマンドを実行することができます。

<pre>
ssh 接続先
</pre>

接続先は、以下のように記述します。ユーザー名を省略した場合は、ローカルユーザーと同じユーザー名になります。

<pre>
ユーザー名@ホスト名
</pre>

sshで接続するサンプルです。

<pre>
ssh 10.54.14.15@kimoto
</pre>

<h4>ポート番号を指定する</h4>

sshコマンドで、接続先のポート番号を指定する場合は「-p」オプションを使用します。

<pre>
ssh -p 55555 10.54.14.15@kimoto
</pre>

<h4>sshコマンドが使うデフォルトの秘密鍵</h4>

sshコマンドが使うデフォルトの秘密鍵は以下です。

<pre>
~/.ssh/id_rsa
</pre>

<h4>秘密鍵ファイルを指定する</h4>

秘密鍵を「-i」オプションで秘密鍵ファイルを指定することができます。相対パスの場合は「~/.ssh」からのパスになります。

<pre>
ssh -i id_rsa_example 10.54.14.15@kimoto
ssh -i /path/id_rsa_example 10.54.14.15@kimoto
</pre>

<h4>特定のドメインへのSSH接続する場合に秘密鍵ファイルを指定してを使う設定</h4>

特定のドメインへのSSH接続する場合に秘密鍵ファイルを指定してを使う設定を設定ファイル「~/.ssh/config」で行うことができます。

GithubにSSH接続する場合に作成した秘密鍵を使う設定のサンプルです。「~/.ssh/config」に追記します。

<pre>
Host github github.com
  HostName github.com
  IdentityFile ~/.ssh/id_rsa_github
  User git
</pre>

パーミッションも600にしておきましょう。

<pre>
chmod 600 ~/.ssh/config
</pre>
