<h2>WinSCPを使ってLinuxサーバー上のファイルを編集</h2>

WinSCPを使ってLinuxサーバー上のファイルを編集してみましょう。Linuxサーバー上からファイルを転送するには、SSH上におけるファイル転送プロトコロであるSCPというプロトコルを使いますが、WinSCPは、これに対応したソフトウェアです。手動によるファイル転送ではなく、ファイル転送を自動で行って、まるでサーバー上のファイルを直接編集しているかの操作できる機能を提供しています。

<h3>WinSCPのダウンロード</h3>

WinSCPをダウンロードします。

<a href="https://forest.watch.impress.co.jp/library/software/winscp/">WinSCPのダウンロード</a>

<h3>WinSCPのインストール</h3>

インストーラーを使って、WinSCPをインストールしましょう。

そのまま進めていっても大丈夫ですが、エクスプローラ風というのを選ぶのがお勧めです。

<h3>SSH接続に必要な情報</h3>

SSH接続に必要な情報は以下です。Linuxサーバーで、以下の情報を取得してください。ポート番号は特別に設定していなければ、22番です。

<ul>
  <li>IPアドレス(59.106.185.121など)</li>
  <li>ポート番号(デフォルトは22番)</li>
  <li>ユーザー名(kimotoなど)</li>
  <li>パスワード</li>
</ul>

<h3>WinSCPでの接続</h3>

WinSCPを開きます。新しいサイトを選択します。

ホスト名の部分にIPアドレスを入れます。

ポート番号は22を指定します。

OKを押します。

ユーザー名とパスワードを入力します。

セッションの保存名に好きな名前をつけます。パスワードを保存にチェックをいれておきましょう。OKを押します。

新しい接続が追加されているので、ダブルクリックで接続できます。

<h3>ファイルの作成と編集</h3>

右クリック、新規作成、ファイルでファイルを作成できます。ダブルクリックでファイルを開けます。

<h3>お勧めの設定</h3>

エディタは好きなものを使えるので、設定しましょう。

設定ファイルの保存場所は、レジストリではなくって、.iniファイルに保存しておくのが、バックアップと別PCへの引っ越ししやすいのでお勧めです。
