<h2>gccコマンド - C言語ソースコードのコンパイルとリンク</h2>

<b>gccコマンド</b>は、C言語ソースコードのコンパイルとリンクを行うためのコマンドです。

コンパイルとリンクを行って、実行ファイルを生成するにはgccコマンドで、「-o」オプションを使用します。

<pre>
gcc -o 出力ファイル名 入力ファイル名
</pre>

「-o」オプションで出力ファイル名を指定します。

<pre>
gcc -o 出力ファイル名 入力ファイル名
</pre>

このコマンドでは、コンパイルとリンクの作業を一度に行ってしまいます。入力ファイルが一つなので、リンクした気分にはならないです。リンクという言葉の意味もまだ説明していません。まず実行できるところまでを、試してみましょう。

「test.c」というC言語ソースファイルから「test」という実行ファイルを作成してみましょう。

<pre>
// test.c

#include <stdio.h>

int main(void) {
  printf("Hello World!\n");
}
</pre>

gccコマンドで実行ファイルを生成します。

<pre>
gcc -o test test.c
</pre>

<h3>gccを使ったC言語開発環境の構築手順</h3>

gccを使ったC言語開発環境の構築手順については以下の記事を参考にしてください。

<ul>
  <li><a href="https://ubuntu.perlclub.net/blog/20201123133738.html">UbuntuでC言語/C++開発環境構築</a></li>
</ul>

<h3>C言語で開発を行う</h3>

gccを使ってC言語で実際に開発を行うには、以下のサイトを参考にしてください。

<ul>
  <li><a href="https://c.perlzemi.com/">C99対応のC言語入門</a></li>
</ul>

<h3>gccの動画解説</h3>

<ul>
  <li><a href="https://www.youtube.com/watch?v=Lud9XB_Gsb8&t=1s">gcc - C言語のコンパイルとリンク - Perlプログラミングちゃんねる</a></li>
</ul>
