<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Linux</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop="name">Linuxコマンド</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2>sudoコマンド - 一般ユーザーでroot権限コマンドを実行</h2>

sudoを使って一般ユーザーでroot権限コマンドを実行する方法を解説します。

Webのドキュメントを見ていると、sudoを使っている例が多いですよね。最初は、なんだこりゃと思います。

<pre>
sudo コマンド
</pre>

意味としては、root権限でしか実行できないコマンドを一般ユーザーで実行しているのだと解釈しましょう。

一般ユーザーがrootにスイッチして、コマンドを実行しているという感覚です。

<h3>一般ユーザーをsudoユーザーに追加する</h3>

sudoは最初から使えますが、一般ユーザーがroot権限でコマンドを実行できるようにするためには、sudoユーザーに追加する作業が必要です。

rootユーザーでまずログインします。

<pre>
su -
</pre>

次にvisudoコマンドを使います。visudoコマンドは、sudoの設定ファイルを開くコマンドです。<a href="/blog/20190401171737.html">viエディタ</a>が立ち上がります。

<pre>
visudo
</pre>

以下の行のコメントアウトが外れていなかった場合は、はずしましょう。wheelグループのユーザーは、すべてのコマンドを実行できるという意味です。

<pre>
## Allows people in group wheel to run all commands
# %wheel  ALL=(ALL)       ALL
%wheel  ALL=(ALL)       ALL
</pre>

あなたのユーザーを、usermodコマンドを使って、wheelグループに追加します。

<pre>
usermod -aG wheel kimoto
</pre>

一度ログアウトして、もう一度、あなたのユーザーでログインしましょう。

sudoコマンドでlsを実行してみましょう。lsは、通常ユーザーでもできますが、ここでは確認のために使用します。

<pre>
sudo ls
</pre>

パスワードを求められます。自分のパスワードを入力します。rootのパスワードではないです。

ファイルの一覧が表示されれば成功です。

もう一度実行してみましょう。今度は、パスワードを求められませんね。

<pre>
sudo ls
</pre>

<h3>sudoで初回のパスワードを求められないようにするには?</h3>

初回からパスワードを求められないようにするには? visudoでsudoの設定ファイルを変更するときに、以下の設定のコメントアウトをはずします。

<pre>
## Allows people in group wheel to run all commands
# %wheel        ALL=(ALL)       ALL

## Same thing without a password
%wheel  ALL=(ALL)       NOPASSWD: ALL
</pre>
