<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Linux</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop="name">Linuxコマンド</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2>diffコマンド - ファイルの差分を確認する</h2>

diffコマンドを使用すると、ファイルの差分を確認できます。

<pre>
git diff ファイル1 ファイル2
</pre>

diffの出力結果のサンプルです。

<pre>
  ServerName system.online-fudousan.jp

-  <Directory /var/www>
-    Options +ExecCGI
-  </Directory>
-
   RewriteEngine On
   RewriteCond %{HTTP_HOST} !^\Qsystem.online-fudousan.jp\E
   RewriteRule (.+) https://system.online-fudousan.jp$1 [R=301,L]
</pre>

<h3>diffコマンドの動画解説</h3>

<ul>
  <li><a href="https://www.youtube.com/watch?v=dNInAduifQM">diffコマンド - Linux - Perlプログラミングちゃんねる</a></li>
</ul>
