<h2>CentOS7でのApacheのインストールと起動・停止・自動起動の設定</h2>

CentOS7でのApacheのインストールと起動・停止・自動起動の設定の手順です。

<h3>Apacheのインストール</h3>

Apacheのインストールは、yumコマンドを使って行います。

<pre>
# Apacheのインストール
sudo yum -y install httpd
</pre>

<h3>Apacheのバージョン確認</h3>

Apacheのバージョンを確認してみましょう。

<pre>
httpd -version
</pre>

Apacheのバージョンは、2.4.6でした。

<pre>
Server version: Apache/2.4.6 (CentOS)
Server built:   Aug  8 2019 11:41:18
</pre>

<h3>Apacheの自動起動の設定</h3>

CentOS7を起動したときにApacheが自動起動するようにしておきます。Apacheの自動起動の設定をするにはsystemctlコマンドの「enable」を使用します。

<pre>
# Apacheの自動起動の設定
sudo systemctl enable httpd.service
</pre>

<h3>Apacheの起動</h3>

Apacheを起動します。Apacheを起動するにはsystemctlコマンドの「start」を使用します。

<pre>
# Apacheの起動
sudo systemctl start httpd.service
</pre>

<h3>Apacheの停止</h3>

Apacheを停止するにはsystemctlコマンドの「stop」を使用します。

<pre>
# Apacheの停止
sudo systemctl stop httpd.service
</pre>

<h3>Apacheの再起動</h3>

Apacheを再起動するにはsystemctlコマンドの「restart」を使用します。

<pre>
# Aapcheの再起動
sudo systemctl restart httpd.service
</pre>
