<h2>bash入門</h2>

bashはLinux標準のシェルです。bashを使うと、<a href="/blog/20200211081227.html">Linuxコマンド</a>を実行することができます。

<pre>
# bashでLinuxコマンドを実行
ls
</pre>

<h3>環境変数を確認する</h3>

環境変数を確認してみましょう。envコマンドで確認できます。

<pre>
env
</pre>

grepと組み合わせると、必要な環境変数だけを取り出せます。

<pre>
# MOJOを含んでいるものだけ取得
env | grep MOJO
</pre>

<h3>環境変数を設定する</h3>

環境変数を設定するにはexportコマンドを使用します。

<pre>
export 環境変数名=環境変数の値
</pre>

以下は、<a href="https://web.perlzemi.com/">Mojolicious</a>の開発サーバー<a href="https://tutorial.perlzemi.com/blog/20120406133367.html">morbo</a>で、ポート番号を変更するサンプルです。

<pre>
export MOJO_LISTEN=http://*:3050
</pre>

<h3>bashの設定ファイル</h3>

bashの設定ファイルは、ホームディレクトリにある「.bashrc」です。

<pre>
~/.bashrc
</pre>

「.bash_profile」という特別な設定ファイルもありますが、普通に設定を行うときは「.bashrc」を使いましょう。

上記の環境変数の設定を「.bashrc」に書いておくと、シェルの読み込み時に自動的に設定できます。

<h3>bashのシェルスクリプト</h3>

bashのシェルスクリプトを作成してみましょう。よく使うLinuxコマンドを実行するときに便利です。

以下のスクリプトを「setup.sh」という名前で保存したとします。これは、<a href="https://tutorial.perlzemi.com/blog/20101027127859.html">cpanmとcpanfile</a>で依存モジュールをすべてインストールするサンプルともなっています。

<pre>
#!/bin/sh

cpanm --installdeps .
</pre>

実行できるように、このスクリプトを保存してchmodコマンドで、パーミッションを755に変えます

<pre>
chmod 755 setup.sh
</pre>

実行

<pre>
./setup.sh
</pre>

<h4>シェバン</h4>

シェバンは「#!/bin/sh」となっています。Linuxではshはbashにエイリアスされています。

<h3>シェルスクリプトにはどんな種類がありますか</h3>

シェルスクリプトは、Linuxではbashが標準ですが、他にも、csh, ksh, zshなどがあります。

シェルスクリプトには方言のようなものがあり、各Linux OSで、標準のシェルが異なっています。

<h3>シェルスクリプトとPerlはどのように使い分けるべきですか?</h3>

シェルスクリプトは、シェルを自動化する仕組みで、Linuxコマンドをそのまま使えます。

覚え慣れた、Linuxコマンドを、そのまま記述できるので簡単です。

その反面、汎用的なプログラミング言語として利用する場合には、プログラムが大きくなってくると、辛さが増してきます。

このプログラムって、Perlで書いた方が、保守性も実行速度もよいんじゃないの!?

そう感じたときは、Perlを試してみる機会です。

後で保守する人のために、以下の記述を忘れずに。

<pre>
use strict;
use warnings;
</pre>
