<h2>grep - テキストの検索</h2>

<b>grepコマンド</b>を使うとテキストの検索ができます。

<pre>
grep テキスト ファイル名
</pre>

grepのサンプルです。

<pre>
grep Foo foo.txt
</pre>

ファイル名は複数指定できます。

<pre>
grep テキスト ファイル名1 ファイル名2
</pre>

<h4>ディレクトリ再帰的に検索する</h4>

ディレクトリを再帰的に検索できる「-r」オプションがあります。サブディレクトリを含めて、全てのファイルが検索対象になります。

<pre>
grep -r テキスト ディレクトリ名
</pre>

<h4>大文字小文字を区別しない</h4>

大文字・小文字を区別しない「-i」オプションがあります。

<pre>
# FOOもfooも引っ掛かる
grep -i foo ファイル名
</pre>

<h4>Perlの正規表現を使う</h4>

Linuxのgrepコマンドの実験的な機能ですが「-P」オプションで、<a href="https://tutorial.perlzemi.com/">Perl</a>互換の正規表現をgrepで使えます。

<pre>
grep -P '^(foo|bar)$' ファイル名
</pre>
