<h2>Linuxコマンドを覚えよう</h2>

Linuxコマンドを覚えましょう。

<h3>ファイル・ディレクトリを操作するコマンド</h3>

<ul>
  <li><a href="/blog/20191012191854.html">cdコマンド - カレントディレクトリの変更</a></li>
  <li><a href="/blog/20191126082723.html">lsコマンド - ファイル一覧の表示</a></li>
  <li><a href="/blog/20191203081250.html">cpコマンド - ファイルをコピーする</a></li>
  <li><a href="/blog/20191204081652.html">mvコマンド - ファイル名を変更する</a></li>
  <li><a href="/blog/20191205081119.html">touchコマンド - ファイルを新規作成する</a></li>
  <li><a href="/blog/20191210081417.html">rmコマンド - ファイルを削除する</a></li>
  <li><a href="/blog/20191211133524.html">mkdirコマンド - ディレクトリを作成する</a></li>
  <li><a href="/blog/20191212134646.html">rmdirコマンド - ディレクトリを削除する</a></li>
  <li><a href="/blog/20200610092705.html">lnコマンド - シンボリックリンクの作成</a></li>
</ul>

<h3>ファイルの内容を確認するコマンド</h3>

<ul>
  <li><a href="/blog/20200113083613.html">catコマンド - ファイルの内容を出力する</a></li>
  <li><a href="/blog/20200202124238.html">headコマンド - ファイルの先頭を出力</a></li>
  <li><a href="/blog/20200203124238.html">tailコマンド - ファイルの末尾を出力</a></li>
  <li><a href="/blog/20200201124238.html">diffコマンド - ファイルの差分を確認する</a></li>
</ul>

<h3>ファイルのパーミッションに関するコマンド</h3>

<ul>
  <li><a href="/blog/20200519082545.html">chmodコマンド - パーミッションの変更</a></li>
  <li><a href="/blog/20200603102015.html">chownコマンド - パーミッションの変更</a></li>
  <li><a href="/blog/20200604095018.html">chgrpコマンド - 所有者グループを変更する</a></li>
</ul>

<h3>ファイルを検索するコマンド</h3>

<ul>
  <li><a href="/blog/20200317121556.html">findコマンド - ディレクトリの再帰的な検索</a></li>
</ul>

<h3>コマンドライン引数に関するコマンド</h3>

<ul>
  <li><a href="/blog/20200614103220.html">xargsコマンド - 標準入力の行出力をコマンドライン引数に変換してプログラム実行</a></li>
</ul>

<h3>テキストの検索・置換を行うコマンド</h3>

<ul>
  <li><a href="/blog/20200602093211.html">grep - テキストの検索</a></li>
</ul>

<h3>アーカイブ化・圧縮するコマンド</h3>

<ul>
  <li><a href="/blog/20190129171737.html">tarコマンド - ファイルのアーカイブ化と展開</a></li>
  <li><a href="/blog/20200608103245.html">gzipコマンド - ファイルの圧縮</a></li>
  <li><a href="/blog/20200607103245.html">gunzipコマンド - ファイルの圧縮</a></li>
</ul>

<h3>テキストエディタを開くコマンド</h3>

<ul>
  <li><a href="/blog/20190401171737.html">vi - コマンドライン用のテキストエディタ</a></li>
</ul>

<h3>ディスク容量を確認するコマンド</h3>

<ul>
  <li><a href="/blog/20200601093211.html">dfコマンド - ディスク容量を確認する</a></li>
  <li><a href="/blog/20200531082545.html">duコマンド - ディレクトリ容量を確認する</a></li>
</ul>

<h3>ディレクトリの同期を行うコマンド</h3>

<ul>
  <li><a href="/blog/20190130171737.html">rsyncコマンド - ディレクトリを同期する</a></li>
</ul>

<h3>環境変数</h3>

<ul>
  <li><a href="/blog/20190102171737.html">envコマンド - 環境変数の値を表示する</a></li>
</ul>

<h3>ネットワーク</h3>

<ul>
  <li><a href="/blog/20200622141433.html">digコマンド - ドメインd名からIPアドレスを調べる。DNSサーバー情報問合わせ。</a></li>
</ul>

<h3>SSH</h3>

<ul>
  <li><a href="/blog/20200621103220.html">sshコマンド - SSHサーバーへ接続する</a></li>
</ul>
