<h2>Linuxの導入方法</h2>

次にLinuxを実際に導入してみます。導入方法をいくつかあります。

<h3>本物のLinuxをサーバーとして利用したい</h3>

Linuxを導入するには、Linuxディストリビューションと呼ばれるものを導入します。

それぞれのLinuxディストリビューションについては、各サイトで解説しています。

<ul>
  <li><a href="https://ubuntu.perlclub.net/">Ubuntuサーバー構築入門</a></li>
  <li><a href="https://centos.perlclub.net/">CentOSサーバー構築入門</a></li>
</ul>

<h3>Windows上のローカルマシンでLinuxを体験してみたい</h3>

WindowsでLinuxを体験してみたいという方は、<a href="https://perlzemi.com/blog/20180806153350.html">msys2</a>というツールを使うのが簡単です。疑似的なLinux環境をWindows上に構築できます。

2020年、Windows上でLinuxを扱う方法であるWSL2が登場しました。本物のLinux環境をWindows上の軽量な仮想環境の上に構築できます。こちらにチャレンジしてみるのもよいでしょう。
