<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Linux</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop="name">Linuxコマンド</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2>catコマンド - ファイルの内容を出力する</h2>

catコマンドを使うとファイルの内容を出力できます。

<pre>
# ファイルの内容を出力
cat foo.txt
</pre>

出力結果は以下のようになります。

<pre>
Hello
World!
</pre>

catというのは、concatが由来です。concatは、つなげるという意味です。

実は、catコマンドに複数のファイルを渡すと、複数のファイル内容をつなげて、出力してくれるのです。これが、名前の由来です。

<pre>
# 複数のファイルの内容をつなげて出力
cat foo.txt bar.txt
</pre>

<h3>catコマンドの動画解説</h3>

<ul>
  <li><a href="https://www.youtube.com/watch?v=6G3rDIaE9rs">catコマンド - Linux - Perlプログラミングちゃんねる</a></li>
</ul>
