<h2>Linuxコマンドを覚えよう</h2>

Linuxコマンドを覚えましょう。

<h3>ファイル・ディレクトリを操作するコマンド</h3>

<ul>
  <li><a href="/blog/20191012191854.html">cdコマンド - カレントディレクトリの変更</a></li>
  <li><a href="/blog/20191126082723.html">lsコマンド - ファイル一覧の表示</a></li>
  <li><a href="/blog/20191203081250.html">cpコマンド - ファイルをコピーする</a></li>
  <li><a href="/blog/20191204081652.html">mvコマンド - ファイル名を変更する</a></li>
  <li><a href="/blog/20191205081119.html">touchコマンド - ファイルを新規作成する</a></li>
  <li><a href="/blog/20191210081417.html">rmコマンド - ファイルを削除する</a></li>
  <li><a href="/blog/20191211133524.html">mkdirコマンド - ディレクトリを作成する</a></li>
  <li><a href="/blog/20191212134646.html">rmdirコマンド - ディレクトリを削除する</a></li>
</ul>

<h3>ファイルの内容を確認するコマンド</h3>

<ul>
  <li><a href="/blog/20200113083613.html">catコマンド - ファイルの内容を出力する</a></li>
  <li><a href="/blog/20200202124238.html">headコマンド - ファイルの先頭を出力</a></li>
  <li><a href="/blog/20200203124238.html">tailコマンド - ファイルの末尾を出力</a></li>
  <li><a href="/blog/20200201124238.html">diffコマンド - ファイルの差分を確認する</a></li>
</ul>

<h3>ユーザー管理を行うコマンド</h3>

ユーザー管理コマンド。

<ul>
  <li><a href="/blog/20200111092236.html">useraddコマンド - ユーザーの追加</a></li>
  <li><a href="/blog/20200118092236.html">sudoコマンド - 一般ユーザーでroot権限コマンドを実行</a></li>
</ul>

<h3>アーカイブ化・圧縮するコマンド</h3>

<ul>
  <li><a href="/blog/20190129171737.html">tarコマンド - ファイルのアーカイブ化と展開</a></li>
</ul>

<h3>テキストエディタを開くコマンド</h3>

<ul>
  <li><a href="/blog/20190401171737.html">vi - コマンドライン用のテキストエディタ</a></li>
</ul>
