<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Linux</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200211081227.html">
        <span itemprop="name">Linuxコマンド</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2>headコマンド - ファイルの先頭を出力</h2>

headコマンドを使用するとファイルの先頭の部分を出力することができます。ファイルの先頭だけを確認したい場合に使います。

<pre>
head ファイル名
</pre>

headコマンドは、ファイルの全体を読み込むわけではないので、高速です。

<h3>headコマンドのサンプル</h3>

foo.txtの先頭を表示するheadコマンドのサンプルです。

<pre>
head foo.txt
</pre>

<h3>先頭に表示する行数を指定する</h3>

ハイフンの後ろに行数を指定することで、先頭に表示する行数を指定できます。以下の例は、先頭の20行を表示します。

<pre>
head -20 ファイル名
</pre>

<h3>headコマンドの動画解説</h3>

<ul>
  <li><a href="https://www.youtube.com/watch?v=Xlzhs2EfUlU">headコマンド - Linux/UNIX - Perlプログラミングちゃんねる</a></li>
</ul>
