<h2>xargsコマンド - 標準入力の行出力をコマンドライン引数に変換してプログラム実行</h2>

xargsコマンドは、標準入力の行出力をコマンドライン引数に変換してプログラムを実行してくれます。

<pre>
行出力するコマンド | xargs プログラム
</pre>

行出力するコマンドは、なんでも構いませんが、<a href="/blog/20200317121556.html">find</a>コマンドや、<a href="/blog/20200602093211.html">grep</a>コマンドで「-rl」を指定した場合が想定されます。

<pre>
find * | xargs プログラム
grep -rl 'こんにちは' dir | xargs プログラム
</pre>

一つの例として、findコマンドの出力を見てみましょう。templates/blogの中のファイル名を取得します。

<pre>
find templates/blog
</pre>

出力結果です。

<pre>
templates/blog/20190421171737.html
templates/blog/20190103171737.html
templates/blog/20190127171737.html
templates/blog/20190212171737.html
templates/blog/20200520082545.html
templates/blog/20190309171737.html
templates/blog/20191205081119.html
templates/blog/20191218072611.html
</pre>

このファイル名の一覧を、他のプログラムのコマンドライン引数に渡したいときが、xargsを使う場面です。

たとえば、<a href="https://tutorial.perlzemi.com/">Perl</a>を使って、置換を行う場合を考えてみましょう。

上記のファイルに対して、「こんにちは」を「こんばんわ」に置換します。xargsコマンドを使って次のように書きます。

<pre>
find templates/blog | xargs perl -pi -e 's/こんにちは/こんばんわ/g'
</pre>
