<div class="what_is_this_site">
  <div class="inside">
    Linux/UNIXと<a href="https://tutorial.perlzemi.com/">Perl</a>を使って、ポーターブルにサーバー管理を行うことを解説することを目標にしているサイトです。<br>Linux/UNIXコマンド(正確には主にGNUプロジェクトが作成したツール群。GNUという言葉で検索する人は非常に少ないので、Linux/UNIXコマンドと書きますが、作成者に関する誤解を生まないために、ここに書きます。)の解説を主に行っています。<br>「CUIのコマンドラインで真っ黒な画面でテキスト編集、vi開いたけど、終了させられないよ～、えーん。」という方の参考になればと思います。<br>Debian, <a href="https://www.ubuntu-perl-web.com/">Ubuntu</a>, <a href="https://centos.perlzemi.com/">CentOS</a>, FreeBSDなどLinux/UNIXディストリビューションで<a href="https://websystem.perlzemi.com/">Webシステム開発</a>の環境構築を行う場合のコマンド操作の基礎のサイトでもあります。
  </div>
</div>

<div class="perlri_link">
  <a href="http://www.perlri.com">
    Copyright © Perl総合研究所
  </a>
</div>
