<!-- side -->
<div class="side-list">
  <div class="side-list-title">
    目次
  </div>
  <ul>
    <li><a href="/">Linuxサーバー管理入門</a></li>
    <li><a href="/blog/20200211081227.html">Linuxコマンド</a></li>
    <li><a href="/list.html">新着情報</a></li>
  </ul>
</div>

<div class="side-list">
  <div class="side-list-title">
    Linux関連の研修教材
  </div>
  <ul>
    <li><a href="http://ubuntu.perlzemi.com/">Ubuntuサーバー構築入門</a></li>
    <li><a href="http://centos.perlzemi.com/">CentOSサーバー構築入門</a></li>
    <li><a href="https://tutorial.perlzemi.com/">Perlプログラミング入門</a></li>
    <li><a href="https://web.perlzemi.com/">Webシステム開発入門</a></li>
  </ul>
</div>
