<!-- side -->
<div class="side-list">
  <div class="side-list-title">
    目次
  </div>
  <ul>
    <li><a href="/list.html">記事一覧</a></li>
  </ul>
</div>

<div class="side-list" style="margin-top:30px">
  <div class="side-list-title">
    Linux関連技術を学ぶ
  </div>
  <ul>
    <li><a href="http://ubuntu.perlzemi.com/">Ubuntuサーバー構築</a></li>
    <li><a href="http://centos.perlzemi.com/">CentOSサーバー構築</a></li>
    <li><a href="https://tutorial.perlzemi.com/">Perlプログラミング入門</a></li>
    <li><a href="https://web.perlzemi.com/">Webシステム開発</a></li>
  </ul>
</div>
