<h2>Unix/Linux+Perlでポータブルなサーバー管理入門</h2>

Perl+Unix/Unix/Linuxでポータブルなサーバー管理入門は、PerlとUnix/Linuxのコマンドを使って、ポータブルなサーバー管理を実践するためのサイトです。Unix/Linuxの特徴・Unix/Linuxへの接続方法・Unix/Linuxのコマンド・Unix/Linuxファイルシステムなどが学べます。Webシステム開発・業務システム開発で現場で実際に使われている内容が中心となっています。

Perlは、同じソースコードが、どのような環境でも動く特徴を持ったプログラミング言語です。Linux/Unixコマンドの中には、ほぼ共通して使えるものも多いですが、ポータブルとは言えず、環境によって使い方を変更する「心理的な負担」や「コスト面での負担」が発生するものもあります。

Perlをうまく活用すると、どの環境でも同じように動くサーバー管理を手助けするプログラムを作ることができます。

現在「Linux」を「Unix/Linux」に置換した内容になっていますが、適宜修正していきます。

<h3>Unix/Linuxの特徴</h3>

Unix/Linuxの特徴をまず見てみましょう。

<ul>
  <li><a href="/blog/20200521082545.html">Unix/Linuxの特徴</a></li>
</ul>

<h3>Unix/Linuxの導入</h3>

次にUnix/Linuxを導入してみましょう。

<ul>
  <li><a href="/blog/20200524082545.html">Unix/Linuxの導入方法</a></li>
</ul>

<h3>Unix/Linux上で作業をする方法</h3>

Unix/Linux上で作業をする方法を解説します。必要なことは、Unix/Linuxサーバーに対してコマンドを送ることと、Unix/Linuxサーバー上のファイルを編集できることです。

<h4>Unix/Linuxサーバーにコマンドを送る</h4>

<ul>
  <li><a href="/blog/20200525082545.html">Unix/Linuxサーバーにコマンドを送る - TeraTermのインストールと使い方</a></li>
</ul>

<h4>Unix/Linuxサーバー上のファイル編集</h4>

<ul>
  <li><a href="/blog/20200520082545.html">Unix/Linuxサーバー上のファイルを編集 - WinSCPのインストールと使い方</a></li>
</ul>

<h3>Unix/Linuxコマンドを覚えよう</h3>

<ul>
  <li><a href="/blog/20200211081227.html">Unix/Linuxコマンドを覚えよう</a></li>
</ul>

<h3>Unix/Linuxファイルシステム</h3>

<ul>
  <li><a href="/blog/20191223081048.html">ファイルとは</a></li>
  <li><a href="/blog/20191224085237.html">ディレクトリとは</a></li>
  <li><a href="/blog/20191218072611.html">カレントディレクトリとは</a></li>
  <li><a href="/blog/20191219082642.html">ペアレントディレクトリとは</a></li>
  <li><a href="/blog/20191216082522.html">相対パスとは</a></li>
  <li><a href="/blog/20191217081903.html">絶対パスとは</a></li>
  <li><a href="/blog/20191220091958.html">隠しファイルとは</a></li>
  <li><a href="/blog/20200526082545.html">パーミッションとは</a></li>
  <li><a href="/blog/20200609092705.html">ワイルドカードについて理解する</a></li>
</ul>

<h3>ユーザー管理の基礎</h3>

<ul>
  <li><a href="/blog/20191226082636.html">所有者ユーザーとは</a></li>
</ul>

<h3>シェルスクリプト</h3>

<ul>
  <li><a href="/blog/20200615103220.html">bash</a></li>
</ul>

<h3>Unix/LinuxでWebシステム開発 環境構築</h3>

UbuntuやCentOSやFreeBSDなどのUnix/LinuxディストリビューションでWebシステム開発 環境構築をしたい方は、以下を参考にしてください。

<ul>
  <li><a href="http://ubuntu.perlzemi.com/">Ubuntu+PerlでWebシステム開発 環境構築</a></li>
  <li><a href="http://centos.perlzemi.com/">CentOSサーバー構築入門</a></li>
</ul>

<h3>すべての記事</h3>

<ul>
  <li><a href="/all.html">すべての記事を見る</a></li>
</ul>
